<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <!-- SweetAlert2 -->
  <link rel="stylesheet" href="plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="plugins/toastr/toastr.min.css">
   <!-- DataTables -->
  <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  
</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>매장 관리</h1>
          </div>
          <div class="col-sm-6">
   			<ol class="breadcrumb float-sm-right">
			　	<a href="/storeInsert" class="btn btn-info btn-sm pd-x-5 pd-y-0"><i class="fas fa-pen" ></i> 매장 등록</a>		
				<button type="button"  class="btn btn-info btn-sm pd-x-5 pd-y-0" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-pen" ></i> 매장 등록</a>	
                </button>				
			</ol>
		</div>   
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">      
      <!-- /.modal -->
      <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Extra Large Modal</h4>              
             	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">      		
       	
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          	</div>
		</div>
		</div>
	</div>
	</section>
              <div class="card-header">
                <h3 class="card-title">매장 등록 및 관리하실 수 있습니다</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                 <tr>
                    <th>번호</th>
                    <th>매장명</th>
                    <th>직원수</th>
                    <th>전화</th>
                    <th>팩스</th>
                    <th>담당자</th>
                    <th>휴대폰</th>
                    <th>등록일</th>
                    <th>비고</th>                
                    <th>관리</th>    
                </tr>
                  </thead>
                  <tbody>                  
                  <tr>
                    <td>1</td>
                    <td>epm 본점</td>
                    <td>2</td>
                    <td>063-123-1234</td>
                    <td>1234</td>
                    <td>직원1</td>
                    <td>010-1234-4567</td>
                    <td>2014-08-22</td>                                        
                    <td></td>                   
                    <td align="center"><a href="/storeUpdate" class="btn btn-info btn-sm pd-x-5 pd-y-0"><i class="icon ion-ios-browsers"></i></a></td>                   
                  </tr>   
                 </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


</th:block>
<th:block layout:fragment="customFooterScript">

<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- SweetAlert2 -->
<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
      "aaSorting":[],
      "aoColumnDefs":[
         {'bSortable': false, 'aTargets':[0,3,4,5,6,8,9,10]}
      ]
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      });
  });  
</script>



</th:block>





</html>