<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- 고개관리리스트 목록 시작  -->
<!-- Content Wrapper. -->
  <div class="content-wrapper">
    <!-- 페이지 화면 헤더  -->
    <section class="content-header">
      <div class="container-fluid">
       <div class="col-sm-6">
      			<div class="row">
		          	<div class="col-sm-1">
			          	 <i class="fas fa-coins" style="font-size:11mm;"></i>
		          	</div>		          	
		          	<div class="col-sm-11">
			            <h5 style="font-weight: bold;">수납장부</h5>
			            <p style="font-size:small;">고객이 납부하는 요금(미납/위약금 등) 수납을 관리하실 수 있습니다.</p>
		          	</div>
	          	</div>
         	    </div>
    <!-- /페이지 화면 헤더  -->
    <!-- 목록 추가 등록 버튼  -->
        <div class="input-group input-group-sm float-right " style="width: 150px; margin-bottom:5mm;">
                  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">
                  	수납장부 등록
                </button>
		</div>
		<!-- 모달 클릭시 화면   -->
		<div class="modal fade" id="modal-primary">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">수납장부 등록</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
	              <form id="ledgerInsertForm" action="/ledgerInsert" method="post">
	             	<div class="form-group">
	                	<label for="inputDescription"><i style="color: red;">*</i>매장명</label>
	                 	<select class="form-control custom-selec" name="store_code" id="store_code" style="width: 100%;">
	                    	<option selected disabled value="None">매장을 선택해주세요</option>
	                    	<option  th:each="sel : ${store}" th:value="${sel.store_Code}" th:text="${sel.store_Name}"></option>
                 		</select>
	             	</div>
	             	<div class="form-group">
	                	<label for="inputDescription"><i style="color: red;">*</i>수납직원</label>
	                 	<select class="form-control custom-selec" name="staff_code" id="staff_code" style="width: 100%;">
	                    	<option selected disabled value="None">수납 처리 직원을 선택해주세요</option>
                 		</select>
	             	</div>
	             	<hr>
	             	<div class="form-group">
	                	<label for="inputDescription"><i style="color: red;">*</i>구분</label>
	                	<div class="form-check">
	                 	<input type="checkbox" name="receive_type" class="form-check-input" value="현금수납">
	                 	<label class="form-check-label" style="margin-right: 6mm;">고객현금수납</label>
	                 	<input type="checkbox" name="receive_type" class="form-check-input" value="카드수납">
	                 	<label class="form-check-label" style="margin-right: 6mm;">고객카드수납</label>
	                 	<input type="checkbox" name="receive_type" class="form-check-input" value="매장 대납">
	                 	<label class="form-check-label" style="margin-right: 6mm;">매장 대납</label>
	                 	</div>
	             	</div>
	             	<div class="form-group">
	                	<label for="inputDescription"><i style="color: red;">*</i>고객명</label>
	                 	<input type="text" name="receive_customer" class="form-control" placeholder="고객명을 입력해주세요">
	             	</div>
	             	<div class="form-group">
	                	<label for="inputDescription"><i style="color: red;">*</i>연락처</label>
	                 	<input type="text" name="receive_custel" class="form-control" placeholder="-제외  010부터 입력해주세요">
	             	</div>
	             	<div class="form-group form-inline">
	             	<label for="inputDescription">카드사 </label>
	             	<input type="text" name="receive_card" class="form-control" placeholder="카드결제시 카드사입력" style="width: 60%; margin-left: 10%">
	             	</div>
	             	<div class="form-group form-inline">
	                	<label for="inputDescription"><i style="color: red;">*</i>수납 금액   </label>
	                 	<input type="text" name="receive_price" class="form-control" 
	                 		placeholder="금액입력" style="width: 51%; margin-left: 5%">
	                 	<div class="input-group-append">
                        <span class="input-group-text">원</span>
                      	</div>
	             	</div>
	             	<div class="form-group">
	                	<label for="inputDescription"><i style="color: red;">*</i>거래처</label>
	                 	<select class="form-control custom-selec" name="dealler_code" id="dealler_code" style="width: 100%;">
	                    	<option selected disabled value="None">거래처를 선택해주세요</option>
	                    	<option  th:each="d : ${dealler}" th:value="${d.deallerCode}" th:text="${d.deallerName}"></option>
                 		</select>
	             	</div>
	             	<div class="form-group">
	             		<label for="inputDescription"><i style="color: red;">*</i>송금일/송금액</label>
	             	</div>
	             	<div class="form-group form-inline">
	             		<input type="date" class="form-control" name="receive_remit_date">
	             		<input type="text" class="form-control" name="receive_remit_price" placeholder="금액입력">
	             		<div class="input-group-append">
                       		<span class="input-group-text">원</span>
                      	</div>
                    </div>
	             	<div class="form-group">
	                	<label for="inputDescription"><i style="color: red;">*</i>송금상태</label>
	                	<div class="form-check">
	                 	<input type="checkbox" name="receive_remit_type" class="form-check-input" value="처리중">
	                 	<label class="form-check-label" style="margin-right: 6mm;">처리중</label>
	                 	<input type="checkbox" name="receive_remit_type" class="form-check-input" value="완료">
	                 	<label class="form-check-label" style="margin-right: 6mm;">완료</label>
	                 	</div>
	             	</div>
	             	<Div class="form-group">
	             	<label  for="inputDescription">비고</label>
	             	<textarea rows="3" cols="50" class="form-control" name="receive_memo" placeholder="메모를 입력해주세요"></textarea>
	             	</Div>
	             	<div class="form-group">
	             	<input type="reset" value="Clear" class="btn btn-default float-left">
	             	<button type="submit" id="CusBtn" class="btn btn-primary float-right">수납장부등록하기</button>
	             	</div>
	              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary float-right" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
		<div class="input-group">
		</div>
	<!-- 목록 추가 등록 버튼  -->
	<!-- 목록 리스트 시작  -->
       <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header" style="padding: 3%;">
          <!-- 검색 Form  -->
            <form class="form-inline" id="customerShc" action="#" method="post">
              <!-- 날짜검색1 --> 
                 <P style="font-weight:bolder;">Date Search </P>
               <div class="form-group col-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="reservation">
                  </div>
                  <!-- /.input group -->
                </div>
         
	          <!-- 셀렉트박스 검색창 -->
	          <P style="font-weight:bolder; margin-right: 1%;">User </P>
              <div class="form-group ">
                <select name="gubun" class="form-control form-control-sm">
					<option value="">고객정보</option>
					<option value="opens">고객명</option>
					<option value="homes">핸드폰뒷자리</option>
					<option value="homes">직원명</option>
					<option value="homes">구 분</option>
				</select>
			 </div>
	    <!-- 검색창 -->
	            <div class="form-group offset-4">
                    <input type="text" name="table_search" class="form-control" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                 </div>
              <!-- /.card-header -->
              </div>
              </form>
              <!-- /.검색 From  -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" style="font-size:3.8mm; text-align: center;">
                  <thead>
                    <tr>
                      <th></th>
                      <th>no</th>
                      <th>수납자명</th>
                      <th>연락처</th>
                      <th>구분</th>
                      <th>수납금액</th>
                      <th>상태</th>
                      <th>거래처</th>
                      <th>매장</th>
                      <th>직원</th>
                      <th>비고</th>
                      <th>수납 등록 일자</th>
                      <th>상세</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each=" l,i : ${ledgerList}">
                      <td><input type="checkbox" value="#"></td>
                      <td th:text="${i.count}">1</td>
                      <td th:text="${l.receive_customer}"></td>
                      <td th:text="${l.receive_custel}"></td>
                      <td th:text="${l.receive_type}"></td>
                      <td th:text="${l.receive_price}"></td>
                      <td th:text="${l.receive_remit_type}"></td>
                      <td th:text="${l.dealler_name}"></td>
                      <td th:text="${l.store_name}"></td>
                      <td th:text="${l.member_name}"></td>
                      <td th:text="${l.receive_memo}"></td>
                      <td th:text="${l.receive_reg_date}"></td>
                      <td><a th:href="@{/ledgerUpdate}"><i class="fas fa-edit"></i></a></td>
                    </tr>
                  </tbody>
                </table>
         <!-- 페이징  -->
                <div class="card-footer clearfix">
                <div style="width: 30%; float:none; margin:0 auto;" >
                <ul class="pagination pagination-sm">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">7</a></li>
                  <li class="page-item"><a class="page-link" href="#">8</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item"><a class="page-link" href="#">10</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
                <div>
              </div>
            </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
			
			
		<div class= "btn"style="width: 100px;">
          	<button type="button" class="btn btn-block btn-secondary btn-sm" onclick="location.href='#'">삭제</button>
		</div>
		</div>	<!-- /row -->
      </div><!-- /.container-fluid -->
    </section>
</div><!-- /.Content Wrapper. Contains page content -->	
</th:block>
<th:block layout:fragment="customFooterScript">
<script>
   /* 날짜 스크립트 */
   //Date range picker
    $('#reservation').daterangepicker();
	var result = false;
    $('#store_code').click(function(){
    	var chkArr =$(this).val();
    	console.log($(this).val());
    	result = true;
    	
    	$.ajax({
			url: '/ledgerList'	 
			,type:'post'
			,dataType:'json'
			,data:{ 'store_code' : chkArr }
    		//,async: false
		 
	 	})
		.done(function(data) {
			if(result == true){
				console.log(JSON.stringify(data));
				var html = '';
				$('#staff_code option').remove();
				//반복문
				$.each(data, function(index, item){ 
					console.log(item.member_id)
				html += "<option value='"+item.staff_code+"'>"+item.member_id+"</option>";
				})
			
				$('#staff_code').append(html);
				
			}
		})
			 
		.fail(function( jqXHR, textStatus ) {
			  alert( "실패." );
			 
		}); 
    	
    });
	
    
	
</script>
</th:block>
</html>