<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customCss">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
</th:block>
<th:block layout:fragment="customTitle">
	<title>EPM</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<div class="content-header">
      		<div class="container-fluid">
      			<div class="col-sm-6">
	      			<div class="row">
			          	<div class="col-sm-1">
				          	 <i class="ion ion-person-add" style="font-size:15mm;"></i>
			          	</div>		          	
			          	<div class="col-sm-11">
				            <h5 style="font-weight: bold;">고객이력</h5>
				            <p style="font-size:small;">고객업무와 관련된 이력을 확인하실 수 있습니다.</p>
			          	</div>
		          	</div>
         	    </div>
      		</div>
      	</div>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		 <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">고객 이력 리스트</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped" style="text-align: center; font-size:3.8mm;">
                <thead>
                <tr>
                  <th></th>
                  <th>매장</th>
                  <th>직원</th>
                  <th>구분</th>
                  <th>고객명</th>
                  <th>연락처</th>
                  <th>내용</th>
                  <th>처리일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${customerTList}">
                  <td><input type="checkbox" name="customertCodes" th:value="${c.customert_code}"></td>
                  <td th:text="${c.store_name}"></td>
                  <td th:text="${c.staff_name}"></td>
                  <td th:text="${c.customert_status}"></td>
                  <td th:text="${c.customert_name}"></td>
                  <td th:text="${c.customert_tel}"></td>
                  <td th:text="|개통고객[${c.customert_name}]님을 ${c.customert_status}하였습니다.|"></td>
                  <td th:text="${c.customert_reg_date}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                 <th><button type="submit" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-sm">삭제</button></th>
                  <th>매장</th>
                  <th>직원</th>
                  <th>구분</th>
                  <th>고객명</th>
                  <th>연락처</th>
                  <th>내용</th>
                  <th>처리일</th>
                </tr>
                </tfoot>
              </table>
	              <div class="modal fade" id="modal-sm">
			        <div class="modal-dialog modal-sm">
			          <div class="modal-content bg-danger">
			            <div class="modal-header">
			              <h4 class="modal-title">안내</h4>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                <span aria-hidden="true">&times;</span>
			              </button>
			            </div>
			            <div class="modal-body">
			              <p>선택한 이력을 삭제 하시겠습니까?</p>
			              <p style="font-size: small;">(주의)!삭제된 자료는 복구되지 않습니다.</p>
			            </div>
			            <div class="modal-footer justify-content-between">
			              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
			              <button type="button" class="btn btn-outline-light deleteCheckValue">삭제하기</button>
			            </div>
			          </div>
			          <!-- /.modal-content -->
			        </div>
			        <!-- /.modal-dialog -->
	    		 </div>
	    		 <!-- /.modal -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>

<th:block layout:fragment="customFooterScript">
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    
    //체크시 코드값 받아오기.
    $('input:checkbox[name="customertCodes"]').click(function(){
		console.log($(this).val());
	})
	//체크 후 삭제시 에이작스 통해 값 넘겨주고 받아오기
	$('.deleteCheckValue').click(function(){
		
		var chkArr = [];
		$('input:checkbox[name="customertCodes"]:checked').each(function(){
			chkArr.push($(this).val());
		})
		console.log(chkArr);
		
		$.ajax({
			url: '/customerTDelete'	 
			,type:'post'
			,dataType:'json'
			,data:{ 'customertCodes' : chkArr }
		 
	 	})
		.done(function(data) {
			if(data ==1){
			alert("삭제되었습니다.");
			window.location.href = "/customerTList";
				
			}
		})
		.fail(function( jqXHR, textStatus ) {
			  alert( "삭제 처리가 실패되었습니다." );
			 
		}) 
  	})
  });
</script>
</th:block>
</html>