<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">

</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">

	 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
 
    <!-- Content Header (Page header) -->
     
  
    <section class="content-header" >
      <div class="container-fluid" >
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>홈상품 개통</h1>
          </div>
          <div class="col-sm-6">
	   			<div class="breadcrumb float-sm-right">
				　	<a href="/openHomeList" class="btn btn-info btn-sm pd-x-5 pd-y-0"><i class="far fa-file-alt" ></i> 홈상품 개통 목록</a>							
				</div>
			</div> 
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
     <div class="row mb-2" >
     	<div class="col-sm-2"></div>
          <div class="col-sm-8" >
    <section class="content" >
      
        <div>
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">정보 입력</h3>          
           	</div> 
            
             <div class="card-body">
              <div class="form-group">
             <div class="card card-secondary">                                 
				<div class="card-title">&nbsp;&nbsp;가입정보</div>						
				<div style="clear:both"></div>
			</div>
            <div class="row">     
            <div class="col-sm-6">
                <label for="inputName">구분</label>
                <form>
				  <input type="radio" id="normal" name="openHomeType">
				  <label>단품판매</label>
				  <input type="radio" id="barcode" name="openHomeType">
				  <label>결합판매</label>
				  <input type="radio" id="barcode" name="openHomeType">
				  <label>동시판매</label>				  
				</form>	
			</div>	
			<div class="col-sm-6">
				<label for="inputName">상태</label>
                <form>
				  <input type="radio" id="normal" name="openHomeStatus">
				  <label>예약</label>
				  <input type="radio" id="barcode" name="openHomeStatus">
				  <label>신청</label>
				  <input type="radio" id="barcode" name="openHomeStatus">
				  <label>완료</label>				  
				</form>           
             </div>
             </div>    
             <div class="row">     
            <div class="col-sm-6">
               <label for="inputStatus">거래처</label>
                <select class="form-control custom-select" name="openHomeDealler">                  
                  <option selected>거래처1</option>
                  <option>거래처2</option>
                  <option>거래처3</option>
                </select>
			</div>	
			<div class="col-sm-6">
				<label for="inputStatus">개통직원</label>
                <select class="form-control custom-select" name="openHomeStaff">                  
                  <option selected>직원1</option>
                  <option>직원2</option>
                  <option>직원3</option>
                </select>  
             </div>
             </div>  
             <div class="row">     
	            <div class="col-sm-6">
	               <label for="inputName">신청일</label>
	                <input type="date" id="inputName" class="form-control" name="openHomeRDate" value="epm 본점">
				</div>	
				<div class="col-sm-6">
					<label for="inputName">개통일</label>
	                <input type="date" id="inputName" class="form-control" name="openHomeDate" value="epm 본점">
	             </div>
             </div>  
              <div class="row">     
	            <div class="col-sm-6">
	               <label for="inputName">고객명</label>
	                <input type="date" id="inputName" class="form-control" name="openHomeCustomer" value="epm 본점">
				</div>	
				<div class="col-sm-6">
	               <label for="inputName">연락처</label>
	                <input type="date" id="inputName" class="form-control" name="openHomePhone" value="epm 본점">
				</div>
	             <div class="col-sm-12">
	              <label for="inputName">주소</label>
	                <input type="text" id="inputName" class="form-control" name="openHomeAddr" >
				</div>
           	 </div>
            </div>
            <div class="card card-secondary">                             
				
			
              	<div class="row mg-t-30">
					<div class="col-12">
						<div class="bg-gray-100 bd bd-gray-300 rounded">
							<div class="row mg-t-10">
								<label class="col-4 col-xl-2 pd-y-10 tx-right tx-gray-700" >상품선택</label>
								<div class="col-8 col-xl-10 pd-b-10">
								<div class="row" >
									<div class="col-3"><label class="ckbox mg-0 tx-12 tx-gray-900"><input type="checkbox" id="product1" name="product1" value="1" ><span>인터넷</span></label></div>
									<div class="col-3"><label class="ckbox mg-0 tx-12 tx-gray-900"><input type="checkbox" id="product2" name="product2" value="1"><span>TV</span></label></div>
									<div class="col-3"><label class="ckbox mg-0 tx-12 tx-gray-900"><input type="checkbox" id="product6" name="product6" value="1"><span>홈IOT</span></label></div>
								</div>
									<div style="clear:both"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			
			<div class="row mg-t-30 product0">
				<div class="col-12">
					<div class="pd-y-10 tx-center">개통하실 상품을 선택해주세요.</div>
				</div>
			</div>
			
			<div class="row mg-t-30 product1" style="display:none">
				<div class="col-12">
					<div class="tx-13 tx-gray-700 tx-bold pd-x-20 bg-gray-100 rounded mg-b-20">
						<div class="pull-left pd-y-8"><h5 style="font-weight:bold">상품정보 - 인터넷</h5></div>
						<div class="pull-right pd-y-5 mg-l-15">
							<select class="form-control form-control-sm select-sm product_num" rel="1" name="internetCount" style="display:none">
								<option value="1">1대</option>
								
							</select>
							<i class="fa fa-angle-down" style="display:none"></i>
						</div>
						<div style="clear:both"></div>
					</div>
					
					<div class="row mg-t-10 product1_1">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right"><span class="tx-danger mg-r-10" >*</span> 상품명</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<select class="form-control form-control-sm select-sm" name=interName>
									<option value="">상품명</option>
									<option value="100Mbps">광랜안심 100Mbps</option>
									<option value="500Mbps">기가슬림안심 500Mbps</option>
									<option value="1Gbps">기가안심 1Gbps</option>
								
								</select>
													</div>
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">통신사</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<select class="form-control form-control-sm select-sm" name=interTelecom>
									<option value="">통신사</option>
									<option value="KT">KT</option>
									<option value="SKT">SKT</option>
									<option value="LG U+">LG U+</option>								
								</select>
						</div>
					</div>
					<div class="row mg-t-10 product1_1">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">정책금액</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0 input-group input-group-sm">
							<input type="text" class="form-control form-control-sm tx-right price calcprice" name="interPrice" maxlength="10">
							<span class="input-group-addon"><span class="tx-12">원</span></span>
						</div>
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">약정</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<div id="form-write-internetPlan1" class="pull-left wd-100p">
								<select onchange="setPlanmon(1,1)" class="form-control form-control-sm select-sm" name=interPlan>
									<option value="6">6개월</option>
									<option value="12">12개월</option>
									<option value="18">18개월</option>
									<option value="24">24개월</option>
									<option value="30">30개월</option>
									<option value="36" selected>36개월</option>
									<option value="0">무약정</option>
								</select>
							</div>							
						</div>
					</div>					
				</div>
			</div><br>
			
			<div class="row mg-t-30 product2" style="display:none">
				<div class="col-12">
					<div class="tx-13 tx-gray-700 tx-bold pd-x-20 bg-gray-100 rounded mg-b-20">
						<div class="pull-left pd-y-8"><h5 style="font-weight:bold">상품정보 - TV</h5></div>						
					</div>
					
					<div class="row mg-t-10 product2_1">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right"><span class="tx-danger mg-r-10">*</span> 상품명</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<input type="text" class="form-control form-control-sm" name="tvName" maxlength="200">
						</div>
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">통신사</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<select class="form-control form-control-sm select-sm" name=tvTelecom>
								<option value="">통신사</option>
								<option value="KT">KT</option>
								<option value="SKT">SKT</option>
								<option value="LG U+">LG U+</option>
							</select>			
						</div>
					</div>
					<div class="row mg-t-10 product2_1">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">정책금액</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0 input-group input-group-sm">
							<input type="text" class="form-control form-control-sm tx-right price calcprice" name="tvPrice" maxlength="10">
							<span class="input-group-addon"><span class="tx-12">원</span></span>
						</div>
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">약정</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<div id="form-write-p2_1_planmon1" class="pull-left wd-100p">
								<select onchange="setPlanmon(2,1)" class="form-control form-control-sm select-sm" name="tvPlan">
									<option value="6">6개월</option>
									<option value="12">12개월</option>
									<option value="18">18개월</option>
									<option value="24">24개월</option>
									<option value="30">30개월</option>
									<option value="36" selected>36개월</option>
									<option value="0">무약정</option>
								</select>
							</div>							
						</div>
					</div>					
				</div>
			</div><br>
				
			<div class="row mg-t-30 product6" style="display:none">
				<div class="col-12">
					<div class="tx-13 tx-gray-700 tx-bold pd-x-20 bg-gray-100 rounded mg-b-20">
						<div class="pull-left pd-y-8"><h5 style="font-weight:bold">상품정보 - 홈IOT</h5></div>						
					</div>
					
					<div class="row mg-t-10 product6_1">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right"><span class="tx-danger mg-r-10" >*</span> 상품명</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<input type="text" class="form-control form-control-sm" name="iotName" maxlength="200">
						</div>
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">통신사</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<select class="form-control form-control-sm select-sm" name=iotTelecom>
								<option value="">통신사</option>
								<option value="KT">KT</option>
								<option value="SKT">SKT</option>
								<option value="LG U+">LG U+</option>
							</select>	
						</div>
					</div>
					<div class="row mg-t-10 product6_1">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">정책금액</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0 input-group input-group-sm">
							<input type="text" class="form-control form-control-sm tx-right price calcprice" name=iotPrice maxlength="10">
							<span class="input-group-addon"><span class="tx-12">원</span></span>
						</div>
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" style="text-align:right">약정</label>
						<div class="col-8 col-xl-4 mg-t-5 mg-xl-t-0">
							<div id="form-write-p6_1_planmon1" class="pull-left wd-100p">
								<select onchange="setPlanmon(6,1)" class="form-control form-control-sm select-sm" name="iotPlan">
									<option value="6">6개월</option>
									<option value="12">12개월</option>
									<option value="18">18개월</option>
									<option value="24">24개월</option>
									<option value="30">30개월</option>
									<option value="36" selected>36개월</option>
									<option value="0">무약정</option>
								</select>
							</div>							
						</div>
					</div>					
				</div>
			</div>	
			<br><br>
		<div class="card card-secondary">                                 
			<div class="row mg-t-10" align="center">
				<div class="card-title" style="font-weight:bold">&nbsp;&nbsp;정산정보</div>
						<div class="col-8 col-xl-10 pd-b-10">
						<div class="col-3"><label class="ckbox mg-0 tx-11"><input type="checkbox" id="option4"><span>결합할인</span></label></div>
					</div>
				</div>
			</div>
		
			
				<div class="col-12">
					<div class="row mg-t-10">
					</div>
					<div class="row mg-t-10">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right" >정산금액</label>
						<div class="col-8 col-xl-4 mg-t-10 mg-xl-t-0 input-group input-group-sm">
							<input type="text" class="form-control form-control-sm tx-right price" name="sumprice" maxlength="10" style="background:#FFFCF6" readonly>
							<span class="input-group-addon"><span class="tx-12">원</span></span>
						</div>
						<div class="col-12 col-xl-6 mg-t-10 mg-xl-t-0">
							<div class="pd-t-10 tx-11 tx-gray-600">* 정책금액 합산 <span class="tx-danger"></span></div>
						</div>
					</div>
					<div class="row mg-t-10 option4" style="display:none">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right">할인금액 <i class="fa fa-question-circle-o tx-14 tx-gray-500 mg-l-2" data-toggle="tooltip" data-placement="right" title="상품권 회수 등의 수익금액"></i></label>
						<div class="col-8 col-xl-4 mg-t-10 mg-xl-t-0 input-group input-group-sm">
							<input type="text" class="form-control form-control-sm tx-right price calcprice" name="plusprice" maxlength="10">
							<span class="input-group-addon"><span class="tx-12">원</span></span>
						</div>
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right">결합정보</label>
						<div class="col-8 col-xl-4 mg-t-10 mg-xl-t-0">
							<input type="text" class="form-control form-control-sm"  maxlength="200">
						</div>
					</div>
					<div class="row mg-t-10">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right">판매마진</label>
						<div class="col-8 col-xl-4 mg-t-10 mg-xl-t-0 input-group input-group-sm">
							<input type="text" class="form-control form-control-sm tx-right price" name="marginprice" maxlength="10" readonly>
							<span class="input-group-addon"><span class="tx-12">원</span></span>
						</div>
						<div class="col-12 col-xl-6 mg-t-10 mg-xl-t-0">
							<div class="pd-t-10 tx-11 tx-gray-600">* 정책금액 - 할인금액</div>
						</div>
					</div>
					<div class="row mg-t-10">
						<label class="col-4 col-xl-2 mg-t-15 mg-xl-t-5 tx-right">실판매마진</label>
						<div class="col-8 col-xl-4 mg-t-10 mg-xl-t-0 input-group input-group-sm">
							<input type="text" class="form-control form-control-sm tx-right price" name="realmargin" maxlength="10" readonly>
							<span class="input-group-addon"><span class="tx-12">원</span></span>
						</div>
						<div class="col-12 col-xl-6 mg-t-10 mg-xl-t-0">
							<div class="pd-t-10 tx-11 tx-gray-600">* 판매마진 - 정산부가세 10.00%</div>
						</div>
					</div>
				</div>
			   
			    </div>		    
	        </div>
	   
		       <div class="row">
		        <div class="col-12">
		          <input type="submit" value="확인" class="btn btn-success">
		        </div>
		      </div>
           
          
			</div>	
			
       
       	
    </section>
    </div>
    </div>
    <!-- /.content -->
  
  <!-- /.content-wrapper -->
</div>
</th:block>
<th:block layout:fragment="customFooterScript">
<script>
var product = new Array();
$(function(){
	$(".fc-datepicker").datepicker();
	
	$("#product1").click(function(){
		if($(this).is(":checked") == true){
			$(".product1").show();
			product.push(1);
		}else{
			$(".product1").hide();
			product.splice(product.indexOf(1),1);
		}
		setProduct();
		
	});
	$("#product2").click(function(){
		if($(this).is(":checked") == true){
			$(".product2").show();
			product.push(2);
		}else{
			$(".product2").hide();
			product.splice(product.indexOf(2),1);
		}
		setProduct();
	});
	
	$("#product6").click(function(){
		if($(this).is(":checked") == true){
			$(".product6").show();
			product.push(6);
		}else{
			$(".product6").hide();
			product.splice(product.indexOf(6),1);
		}
		setProduct();
	});
	
	
	$(".product_num").change(function(){
		setProductNum($(this).attr("rel"));
	});
	
	$("#option1").click(function(){
		if($(this).is(":checked") == true) $(".option1").show();
		else{
			$(".option1").hide();
			$("#form-write input[name=saleprice]").val("");
			$("#form-write input[name=saleday]").val("");
			$("#form-write input[name=saledate]").val("");
			$("#form-write input[name=salememo]").val("");
			setPending();
			calc();
		}
	});
	
	$("#option2").click(function(){
		if($(this).is(":checked") == true) $(".option2").show();
		else{
			$(".option2").hide();
			$("#form-write input[name=indoc]").val("");
			$("#form-write input[name=indocday]").val("");
			$("#form-write input[name=indocdate]").val("");
			$("#form-write input[name=indocmemo]").val("");
			setPending();
		}
	});
	
	$("#option3").click(function(){
		if($(this).is(":checked") == true) $(".option3").show();
		else{
			$(".option3").hide();
			removeFile(1);
			removeFile(2);
			removeFile(3);
		}
	});
	
	$("#option4").click(function(){
		if($(this).is(":checked") == true) $(".option4").show();
		else{
			$(".option4").hide();
			$("#form-write input[name=plusprice]").val("");
			$("#form-write input[name=plusinfo]").val("");
		}
	});
	
	$("#form-write input[name=saledate], #form-write input[name=indocdate]").change(function(){
		setPending();
	});
	
	$("#form-write input[name=salememo], #form-write input[name=indocmemo]").keyup(function(){
		setPending();
	});
	
	$("#keepcalc input[name=keepplus").keyup(function(){
		var cdate = calcDate($("#keepcalc input[name=keepdate]").val(), $("#keepcalc input[name=keepplus]").val());
		$("#keepcalc input[name=keepresult]").val(cdate);
	});
	
	$("#form-write input[name=saleday]").keyup(function(){
		var cdate = calcDate($("#form-write input[name=reportdate]").val(), $("#form-write input[name=saleday]").val());
		$("#form-write input[name=saledate]").val(cdate);
		setPending();
	});
	$("#form-write input[name=saledate]").change(function(){
		$("#form-write input[name=saleday]").val("");
	});
	
	$("#form-write input[name=indocday]").keyup(function(){
		var cdate = calcDate($("#form-write input[name=reportdate]").val(), $("#form-write input[name=indocday]").val());
		$("#form-write input[name=indocdate]").val(cdate);
		setPending();
	});
	$("#form-write input[name=indocdate]").change(function(){
		$("#form-write input[name=indocday]").val("");
	});
	
	$(".calcprice").keyup(function(){
		calc();
	})
	.focusout(function(){
		calc();
	});

	var bannerOffset = $("#form-write-banner").offset();
	$(window).scroll(function(){
		var scr = $(window).scrollTop();
		var newPosition = scr + 80 + "px";
		if(scr > 90) $("#form-write-banner").stop().animate({"top" : newPosition}, 500);
		else $("#form-write-banner").stop().animate({"top" : bannerOffset.top}, 500);
	});
	
	$(".inputfile").each(function(){
		var $input = $( this ),
			$label	 = $input.next("label"),
			labelVal = $label.html();

		$input.on("change", function(e){
			var fileName = "";

			if(this.files && this.files.length > 1)
				fileName = (this.getAttribute("data-multiple-caption") || "").replace("[count]", this.files.length);
			else if(e.target.value)
				fileName = e.target.value.split("\\").pop();

			if(fileName){
				$label.find("span").html( fileName );
				$label.find("a.btn").show();
			}else{
				$label.html( labelVal );
				$label.find("a.btn").hide();
			}
		});

		$input
		.on("focus", function(){ $input.addClass("has-focus"); })
		.on("blur", function(){ $input.removeClass("has-focus"); });
	});
});

function setProduct()
{
	if(product.length > 0) $(".product0").hide();
	else $(".product0").show();
	calc();
}

function setProductNum(gubun)
{
	var num = $("#form-write select[name=p"+gubun+"_num]").val();
	$(".product"+gubun+"_plus").hide();
	if(num > 1){
		for(i=1;i<=num;i++) $(".product"+gubun+"_"+i).show();
	}
	calc();
}

function setPending()
{
	var pending = "";
	
	var saledate = $("#form-write input[name=saledate]").val();
	var salememo = $("#form-write input[name=salememo]").val();
	if(saledate){
		pending += '<li class="list-group-item bd-0 pd-x-0">';
		if(salememo) pending += '	<div class="pull-right"><i class="fa fa-envelope-o" data-toggle="tooltip" data-placement="left" title="'+salememo.replace(/\"/g,"&quot;")+'"></i></div>';
		pending += '	<p class="mg-b-0"><i class="fa fa-check tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">할인예정</strong> <span class="text-muted mg-l-5">'+saledate+'</span></p>';
		pending += '</li>';
	}
	
	var indocdate = $("#form-write input[name=indocdate]").val();
	var indocmemo = $("#form-write input[name=indocmemo]").val();
	if(indocdate){
		pending += '<li class="list-group-item bd-0 pd-x-0">';
		if(indocmemo) pending += '	<div class="pull-right"><i class="fa fa-envelope-o" data-toggle="tooltip" data-placement="left" title="'+indocmemo.replace(/\"/g,"&quot;")+'"></i></div>';
		pending += '	<p class="mg-b-0"><i class="fa fa-check tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">미비약속</strong> <span class="text-muted mg-l-5">'+indocdate+'</span></p>';
		pending += '</li>';
	}
	
	if(pending){
		$("#list-pending").html(pending);
		$("#form-write-pending1").hide();
		$("#form-write-pending2").show();
		$('[data-toggle="tooltip"]').tooltip();
	}else{
		$("#list-pending").html("");
		$("#form-write-pending1").show();
		$("#form-write-pending2").hide();
	}
}

function removeFile(n)
{
	var $input = $("#file"+n),
		$label	 = $input.next("label"),
		labelVal = $label.html();
	
	$input.val("");
	$label.find("span").html('파일 선택 '+n);
	$label.find("a.btn").hide();
}

function calc()
{
	var s_basicprice = 0;
	var s_giftprice = 0;
	if($("#form-write input[name=product1]").is(":checked") == true){
		var p_num = $("#form-write select[name=internetCount]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=internetPrice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p1_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product2]").is(":checked") == true){
		var p_num = $("#form-write select[name=p2_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p2_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p2_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
		if(p_num >= 2){
			var p_basicprice = $("#form-write input[name=p2_2_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p2_2_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
		if(p_num >= 3){
			var p_basicprice = $("#form-write input[name=p2_3_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p2_3_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product3]").is(":checked") == true){
		var p_num = $("#form-write select[name=p3_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p3_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p3_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product4]").is(":checked") == true){
		var p_num = $("#form-write select[name=p4_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p4_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p4_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product5]").is(":checked") == true){
		var p_num = $("#form-write select[name=p5_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p5_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p5_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product6]").is(":checked") == true){
		var p_num = $("#form-write select[name=p6_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p6_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p6_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product7]").is(":checked") == true){
		var p_num = $("#form-write select[name=p7_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p7_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p7_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product8]").is(":checked") == true){
		var p_num = $("#form-write select[name=p8_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p8_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p8_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	if($("#form-write input[name=product9]").is(":checked") == true){
		var p_num = $("#form-write select[name=p9_num]").val();
		if(p_num >= 1){
			var p_basicprice = $("#form-write input[name=p9_1_basicprice]").val();
			if(p_basicprice) p_basicprice = parseInt(p_basicprice); else p_basicprice = 0;
			var p_giftprice = $("#form-write input[name=p9_1_giftprice]").val();
			if(p_giftprice) p_giftprice = parseInt(p_giftprice); else p_giftprice = 0;
			s_basicprice += p_basicprice;
			s_giftprice += p_giftprice;
		}
	}
	$("#form-write input[name=basicprice]").val(s_basicprice);
	$("#form-write input[name=giftprice]").val(s_giftprice);
	
	var sumprice = 0;
	var marginprice = 0;
	var realmargin = 0;
	
	var basicprice = $("#form-write input[name=basicprice]").val();
	if(basicprice) basicprice = parseInt(basicprice); else basicprice = 0;
	var profitprice = $("#form-write input[name=profitprice]").val();
	if(profitprice) profitprice = parseInt(profitprice); else profitprice = 0;
	var giftprice = $("#form-write input[name=giftprice]").val();
	if(giftprice) giftprice = parseInt(giftprice); else giftprice = 0;
	var saleprice = $("#form-write input[name=saleprice]").val();
	if(saleprice) saleprice = parseInt(saleprice); else saleprice = 0;
	var plusprice = $("#form-write input[name=plusprice]").val();
	if(plusprice && plusprice != "-") plusprice = parseInt(plusprice); else plusprice = 0;
	
	sumprice = basicprice + profitprice - giftprice;
	sumprice *= -1;
	
	marginprice = basicprice + profitprice - giftprice - saleprice + plusprice;
	
	realmargin = marginprice;
realmargin -= Math.round((sumprice - (sumprice/(1+10.00/100))) * -1);
	
	$("#form-write input[name=sumprice]").val(sumprice);
	$("#form-write input[name=marginprice]").val(marginprice);
	$("#form-write input[name=realmargin]").val(realmargin);
}

function writeHome()
{
	$("#form-write").ajaxSubmit({
		url: "/open/writeHome",
		type: "POST",
		dataType: "json",
		success: function(response){
			$("#loading").hide();
			if(response.msg) $.alert(response.msg);
			if(response.result == 1) $(location).attr("href","/open/home");
			if(response.result == 2) history.go(0);
		},
		beforeSerialize: function(){ $("#loading").show(); },
		error: function(){ $("#loading").hide(); }
	});
}

function emptyInput(n)
{
	$("#form-write input[name="+n+"]").val("");
}

function setPlanmon(a, b)
{
	var planmon = $("#form-write select[name=p"+a+"_"+b+"_planmon]").val();
	
	if(planmon == "ETC"){
		$("#form-write-p"+a+"_"+b+"_planmon1").removeClass("wd-100p");
		$("#form-write-p"+a+"_"+b+"_planmon1").addClass("wd-50p");
		$("#form-write-p"+a+"_"+b+"_planmon2").show();
		$("#form-write input[name=p"+a+"_"+b+"_planmon_etc]").select();
	}else{
		$("#form-write-p"+a+"_"+b+"_planmon1").removeClass("wd-50p");
		$("#form-write-p"+a+"_"+b+"_planmon1").addClass("wd-100p");
		$("#form-write-p"+a+"_"+b+"_planmon2").hide();
	}
}
</script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</th:block>





</html>