<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.epm.mapper.DeviceMapper">

	
	<resultMap type="Device" id="DeviceinSelect">
		<result property="deviceinCode" 			column="devicein_code"/>
		<result property="deviceinSerial"			column="devicein_serial"/>
		<result property="deviceinDealler"			column="dealler_code"/>
		<result property="deviceinDevice"			column="device_code"/>
		<result property="deviceinStatus"			column="devicein_status"/>
		<result property="deviceinStatDate"			column="devicein_stat_date"/>
		<result property="deviceinDate"				column="devicein_date"/>
		<result property="deviceinMemo"				column="devicein_memo"/>
		<result property="deviceinStaff"			column="staff_code"/>
		<result property="deviceinRegDate"			column="devicein_reg_date"/>
		
		<result property="deviceCode"				column="device_code"/>
		<result property="deviceType"				column="device_type"/>
		<result property="deviceManuf"				column="device_manuf"/>
		<result property="deviceModel"				column="device_model"/>
		<result property="deviceName"				column="device_name"/>
		<result property="deviceColor"				column="device_color"/>
		<result property="devicePrice"				column="device_price"/>
		<result property="memberId"					column="member_id"/>
		<result property="deviceRegDate"			column="device_reg_date"/>
		<result property="deviceTelecom"			column="device_telecom"/>
		
		<result property="storeName"				column="store_name"/>
		
		<result property="infoCode"					column="deviceinfo_code"/>
		<result property="infoDevicein"				column="deviceinfo_devicein"/>
		<result property="infoMethod"				column="deviceinfo_method"/>
		<result property="infoStore"				column="deviceinfo_store"/>		
		<result property="infoMemo"					column="deviceinfo_memo"/>
		<result property="infoRegDate"				column="deviceinfo_reg_date"/>	
		
		<result property="updateStore"				column="deviceinfo_store"/>	
		<result property="updateStaff"				column="staff_code"/>	
		<result property="updateDate"				column="devicein_date"/>	
		<result property="updateMethod"				column="deviceinfo_method"/>	
		<result property="updateDealler"			column="dealler_code"/>	
		<result property="updateModel"				column="device_model"/>	
		<result property="updateType"				column="device_type"/>	
		<result property="updateColor"				column="device_color"/>	
		<result property="updatePrice"				column="device_price"/>	
		<result property="updateSerial"				column="devicein_serial"/>	
		<result property="updateMemo"				column="devicein_memo"/>	
		<result property="updateinCode"				column="devicein_code"/>	
		
		<result property="searchDateStart" 			column="devicein_date"/>
		<result property="searchDateEnd"			column="devicein_date"/>
		<result property="searchStatus" 			column="devicein_status"/>
		<result property="searchDealler" 			column="dealler_code"/>
		<result property="searchStaff" 				column="staff_code"/>
		<result property="searchSerial" 			column="devicein_serial"/>
		
		<result property="deleteSerial"				column="devicein_serial"/>
		
		
	</resultMap>

<!-- 	<select id = "getDeviceSelect" parameterType="String" resultMap="DeviceinSelect">
	SELECT
		devicein_code
		,devicein_serial
		,dealler_code
		,device_code
		,devicein_status
		,devicein_stat_date
		,devicein_date
		,devicein_memo
		,staff_code
		,devicein_reg_date
	FROM
		tb_devicein		
	WHERE
		devicein_serial = #{deviceinSerial}
	</select>
 -->	
 	
	<select id = "deviceList" parameterType="String" resultMap="DeviceinSelect">
	SELECT
	*
	FROM
		tb_devicein AS i
	join tb_device  AS d
		on 	i.device_code = d.device_code
	JOIN tb_staff AS s
	 	ON i.staff_code = s.staff_code
	JOIN tb_store AS a
		ON s.store_code = a.store_code
	JOIN tb_deviceinfo as info
		on info.deviceinfo_devicein = i.devicein_code
	</select>
	
	<select id = "searchList" parameterType="Device" resultMap="DeviceinSelect">
	SELECT
	*
	FROM
		tb_devicein AS i
	join tb_device  AS d
		on 	i.device_code = d.device_code
	JOIN tb_staff AS s
	 	ON i.staff_code = s.staff_code
	JOIN tb_store AS a
		ON s.store_code = a.store_code
	JOIN tb_deviceinfo as info
		on info.deviceinfo_devicein = i.devicein_code
	<where>
			<choose>
				<!-- 5개 항목 일치시 -->
				 <when test="searchStatus != ''.toString() and searchDealler != ''.toString()
				 and searchStaff !=''.toString() and searchSerial !=''.toString()
				 and searchDateStart !=''.toString() and searchDateEnd !=''.toString()">	
				    <if test = "searchStatus != ''.toString()">
				    	and i.devicein_status = #{searchStatus}
				    </if>	
				    <if test="searchDealler != ''.toString()">
			   			and i.dealler_code = #{searchDealler}	
			   		</if>
			   		<if test="searchStaff != ''.toString()">
			   			and i.staff_code = #{searchStaff}
			   		</if>
			   		<if test="searchSerial != ''.toString()">
			   			and i.devicein_serial = #{searchSerial}
			   		</if>
			   		<if test="searchDateStart != ''.toString()">
			   			and i.devicein_date >= #{searchDateStart}
			   		</if>
			   		<if test="searchDateEnd != ''.toString()">
			   			and #{searchDateEnd} >= i.devicein_date
			   		</if>
			    </when>	
			    <!-- 상태 조건 -->
			    <when test="searchStatus != ''.toString() and searchDealler == ''.toString()
				 and searchStaff ==''.toString() and searchSerial ==''.toString()
				 and searchDateStart ==''.toString() and searchDateEnd ==''.toString()">	
				    <if test = "searchStatus != ''.toString()">
				    	and i.devicein_status = #{searchStatus}
				    </if>					   
			    </when>	
			    <!-- 거래처 조건 -->
			    <when test="searchStatus == ''.toString() and searchDealler != ''.toString()
				 and searchStaff ==''.toString() and searchSerial ==''.toString()
				 and searchDateStart ==''.toString() and searchDateEnd ==''.toString()">	
				    <if test = "searchDealler != ''.toString()">
				    	and i.dealler_code = #{searchDealler}
				    </if>					   
			    </when>
			    <!-- 직원 조건 -->
			    <when test="searchStatus == ''.toString() and searchDealler == ''.toString()
				 and searchStaff !=''.toString() and searchSerial ==''.toString()
				 and searchDateStart ==''.toString() and searchDateEnd ==''.toString()">	
				    <if test = "searchStaff != ''.toString()">
				    	and i.staff_code = #{searchStaff}
				    </if>					   
			    </when>
			    <!-- 일련번호 조건 -->
			    <when test="searchStatus == ''.toString() and searchDealler == ''.toString()
				 and searchStaff ==''.toString() and searchSerial !=''.toString()
				 and searchDateStart ==''.toString() and searchDateEnd ==''.toString()">	
				    <if test = "searchSerial != ''.toString()">
				    	and i.devicein_serial = #{searchSerial}
				    </if>					   
			    </when>
			    <!-- 입고일 조건 -->
			    <when test="searchStatus == ''.toString() and searchDealler == ''.toString()
				 and searchStaff ==''.toString() and searchSerial ==''.toString()
				 and searchDateStart !=''.toString() and searchDateEnd !=''.toString()">	
				    <if test = "searchDateStart != ''.toString()">
				    	and i.devicein_date >= #{searchDateStart}
				    </if>
					<if test = "searchDateEnd != ''.toString()">
				    	and #{searchDateEnd} >= i.devicein_date
				    </if>				   
			    </when>
			   
				   			    
			 
			    <otherwise>
	      			
		   		</otherwise>
		   		
		   	</choose>	
	    </where> 
	</select>
	
	
		
	<insert id="deviceInsert" parameterType="Device">
	<selectKey keyProperty="deviceinCode,deviceCode" resultType="hashmap" order="BEFORE">
 			SELECT 
 				CONCAT('code', MAX(CAST(SUBSTRING(dIn.devicein_code,5) AS DECIMAL)+1)) AS deviceinCode
 				,d.device_code as deviceCode
 				
 			FROM 
 				tb_devicein as dIn
 				,(SELECT
							device_code
					FROM
							tb_device 
					where
							device_model=#{deviceModel}
							and device_type=#{deviceType}
							and device_color=#{deviceColor}
							and device_price=#{devicePrice}) as d			
 	</selectKey>
INSERT
	into tb_devicein
			(		
			devicein_code
			,devicein_serial
			,dealler_code
			,device_code
			,devicein_status
			,devicein_stat_date
			,devicein_date
			,devicein_memo
			,staff_code
			,devicein_reg_date
			)
			values
			(
			#{deviceinCode}
			,#{deviceinSerial}
			,#{deviceinDealler}			
			,#{deviceCode}			
			,'신규'
			,now()
			,now()
			,#{deviceinMemo}
			,#{deviceinStaff}
			,now()		
			)		
		</insert>
		<insert id="deviceInfoInsert" parameterType="Device">	
		<selectKey keyProperty="infoCode" resultType="hashmap" order="BEFORE">
 			SELECT 
 				CONCAT('code', MAX(CAST(SUBSTRING(deviceinfo_code,5) AS DECIMAL)+1)) AS infoCode
			FROM tb_deviceinfo
 		</selectKey>
	INSERT		
		into tb_deviceinfo
			(
			deviceinfo_code
			,deviceinfo_devicein
			,deviceinfo_method
			,deviceinfo_store
			,deviceinfo_memo
			,deviceinfo_reg_date
			)			
			values
			(
			#{infoCode}
			,#{deviceinCode}
			,#{infoMethod}
			,#{infoStore}
			,#{deviceinMemo}			
			,now()
			)	
	
		</insert>
		
		<update id="deviceInfoUpdate" parameterType="Device">	
		<selectKey keyProperty="deviceinCode" resultType="hashmap" order="BEFORE">
			SELECT
				devicein_code as deviceinCode
			FROM
				tb_devicein
			where
				devicein_serial = #{updateSerial}
						
		</selectKey>
			update		
				tb_deviceinfo
			set
				deviceinfo_devicein = #{deviceinCode}
				,deviceinfo_method = #{updateMethod}
				,deviceinfo_store = #{updateStore}
				,deviceinfo_memo = #{updateMemo}
				,deviceinfo_reg_date = NOW()
			where
				deviceinfo_devicein = #{deviceinCode}
		</update>
		
		<update id="deviceUpdate" parameterType="Device">
		<selectKey keyProperty="deviceCode" resultType="hashmap" order="BEFORE">
			SELECT
					device_code as deviceCode
			FROM
					tb_device 
			where
					device_model=#{updateModel}
					and device_type=#{updateType}
					and device_color=#{updateColor}
					and device_price=#{updatePrice}
 		</selectKey>
			update
				tb_devicein
			
			set
				devicein_serial = #{updateSerial}
				,dealler_code = #{updateDealler}
				,device_code = #{deviceCode}
				,devicein_date = NOW()
				,devicein_memo = #{updateMemo}
				,staff_code = #{updateStaff}
				,devicein_reg_date = NOW()
			
			WHERE 
				devicein_serial = #{updateSerial}
	
	
		</update>
		
					
			
		<delete id="deviceInfoDelete" parameterType="Device">
		<!-- 
		~ is specified twice, both as a target for 'DELETE' and as a separate source for data ~
		서브쿼리에서 조회한 테이블과 동일한 테이블의 값을 변경하려고 할 때 발생한다.
		해당 서브쿼리에 ALIAS를 부여한 뒤 SELECT문 으로 한번 더 감싸면 해결된다. 
		-->

			Delete From tb_deviceinfo
			where deviceinfo_devicein = (SELECT *
									FROM (SELECT
														deviceinfo_devicein
													from
														tb_deviceinfo as i
													join
														tb_devicein as d
													on
														i.deviceinfo_devicein = d.devicein_code
													where
														devicein_serial = #{deleteSerial}) as dcode)
		</delete>							
		
	
			
		<delete id="deviceDelete" parameterType="Device">			
			Delete From tb_devicein
			where devicein_serial = #{deleteSerial}				
		</delete>
		
</mapper>
	
