<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.epm.mapper.DeviceMapper">

	
	<resultMap type="Device" id="DeviceinSelect">
		<result property="deviceinCode" 			column="devicein_code"/>
		<result property="deviceinSerial"			column="devicein_serial"/>
		<result property="deviceinDealler"			column="dealler_code"/>
		<result property="deviceinDevice"			column="device_code"/>
		<result property="deviceinStatus"			column="devicein_status"/>
		<result property="deviceinStatDate"			column="devicein_stat_date"/>
		<result property="deviceinDate"				column="devicein_date"/>
		<result property="deviceinMemo"				column="devicein_memo"/>
		<result property="deviceinStaff"			column="staff_code"/>
		<result property="deviceinRegDate"			column="devicein_reg_date"/>
		
		<result property="deviceCode"				column="device_code"/>
		<result property="deviceType"				column="device_type"/>
		<result property="deviceManuf"				column="device_manuf"/>
		<result property="deviceModel"				column="device_model"/>
		<result property="deviceName"				column="device_name"/>
		<result property="deviceColor"				column="device_color"/>
		<result property="devicePrice"				column="device_price"/>
		<result property="memberId"					column="member_id"/>
		<result property="deviceRegDate"			column="device_reg_date"/>
		<result property="deviceTelecom"			column="device_telecom"/>
		
		<result property="storeName"				column="store_name"/>
		
		<result property="infoCode"					column="dinfo_code"/>
		<result property="infoDevicein"				column="dinfo_devicein"/>
		<result property="infoMethod"				column="dinfo_method"/>
		<result property="infoStore"				column="dinfo_store"/>		
		<result property="infoMemo"					column="dinfo_memo"/>
		<result property="infoRegDate"				column="dinfo_reg_date"/>	
		
		<result property="updateStore"				column="dinfo_store"/>	
		<result property="updateStaff"				column="staff_code"/>	
		<result property="updateDate"				column="devicein_date"/>	
		<result property="updateMethod"				column="dinfo_method"/>	
		<result property="updateDealler"			column="dealler_code"/>	
		<result property="updateModel"				column="device_model"/>	
		<result property="updateType"				column="device_type"/>	
		<result property="updateColor"				column="device_color"/>	
		<result property="updatePrice"				column="device_price"/>	
		<result property="updateSerial"				column="devicein_serial"/>	
		<result property="updateMemo"				column="devicein_memo"/>	
		<result property="updateinCode"				column="devicein_code"/>	
		
		<result property="searchDateStart" 			column="devicein_date"/>
		<result property="searchDateEnd"			column="devicein_date"/>
		<result property="searchStatus" 			column="devicein_status"/>
		<result property="searchDealler" 			column="dealler_code"/>
		<result property="searchStaff" 				column="staff_code"/>
		<result property="searchSerial" 			column="devicein_serial"/>
	</resultMap>

<!-- 	<select id = "getDeviceSelect" parameterType="String" resultMap="DeviceinSelect">
	SELECT
		devicein_code
		,devicein_serial
		,dealler_code
		,device_code
		,devicein_status
		,devicein_stat_date
		,devicein_date
		,devicein_memo
		,staff_code
		,devicein_reg_date
	FROM
		tb_devicein		
	WHERE
		devicein_serial = #{deviceinSerial}
	</select>
 -->	
 	
	<select id = "deviceList" parameterType="String" resultMap="DeviceinSelect">
	SELECT
	*
	FROM
		tb_devicein AS i
	join tb_device  AS d
		on 	i.device_code = d.device_code
	JOIN tb_staff AS s
	 	ON i.staff_code = s.staff_code
	JOIN tb_store AS a
		ON s.store_code = a.store_code
	JOIN tb_deviceinfo as info
		on info.dinfo_devicein = i.devicein_code
	
		
	</select>	

	<insert id="deviceInsert" parameterType="Device">
	<selectKey keyProperty="deviceinCode,deviceCode" resultType="hashmap" order="BEFORE">
 			SELECT 
 				CONCAT('code', MAX(CAST(SUBSTRING(dIn.devicein_code,5) AS DECIMAL)+1)) AS deviceinCode
 				,d.device_code as deviceCode
 				
 			FROM 
 				tb_devicein as dIn
 				,(SELECT
							device_code
					FROM
							tb_device 
					where
							device_model=#{deviceModel}
							and device_type=#{deviceType}
							and device_color=#{deviceColor}
							and device_price=#{devicePrice}) as d			
 	</selectKey>
INSERT
	into tb_devicein
			(		
			devicein_code
			,devicein_serial
			,dealler_code
			,device_code
			,devicein_status
			,devicein_stat_date
			,devicein_date
			,devicein_memo
			,staff_code
			,devicein_reg_date
			)
			values
			(
			#{deviceinCode}
			,#{deviceinSerial}
			,#{deviceinDealler}			
			,#{deviceCode}			
			,'신규'
			,now()
			,now()
			,#{deviceinMemo}
			,#{deviceinStaff}
			,now()		
			)		
		</insert>
		<insert id="deviceInfoInsert" parameterType="Device">	
		<selectKey keyProperty="infoCode" resultType="hashmap" order="BEFORE">
 			SELECT 
 				CONCAT('code', MAX(CAST(SUBSTRING(dinfo_code,5) AS DECIMAL)+1)) AS infoCode
			FROM tb_deviceinfo
 		</selectKey>
	INSERT		
		into tb_deviceinfo
			(
			dinfo_code
			,dinfo_devicein
			,dinfo_method
			,dinfo_store
			,dinfo_memo
			,dinfo_reg_date
			)			
			values
			(
			#{infoCode}
			,#{deviceinCode}
			,#{infoMethod}
			,#{infoStore}
			,#{deviceinMemo}			
			,now()
			)	
	
		</insert>
		
		<update id="deviceUpdate" parameterType="Device">
		<selectKey keyProperty="deviceCode" resultType="hashmap" order="BEFORE">
			SELECT
					device_code as deviceCode
			FROM
					tb_device 
			where
					device_model=#{updateModel}
					and device_type=#{updateType}
					and device_color=#{updateColor}
					and device_price=#{updatePrice}
 		</selectKey>
			update
				tb_devicein
			
			set
				devicein_serial = #{updateSerial}
				,dealler_code = #{updateDealler}
				,device_code = #{deviceCode}
				,devicein_date = NOW()
				,devicein_memo = #{updateMemo}
				,staff_code = #{updateStaff}
				,devicein_reg_date = NOW()
			
			WHERE 
				devicein_serial = #{updateSerial}
	
	
		</update>
		
		<update id="deviceInfoUpdate" parameterType="Device">	
		<selectKey keyProperty="deviceinCode" resultType="hashmap" order="BEFORE">
			SELECT
				devicein_code as deviceinCode
			FROM
				tb_devicein
			where
				devicein_serial = #{updateSerial}
						
		</selectKey>
			update		
				tb_deviceinfo
			set
				dinfo_devicein = #{deviceinCode}
				,dinfo_method = #{updateMethod}
				,dinfo_store = #{updateStore}
				,dinfo_memo = #{updateMemo}
				,dinfo_reg_date = NOW()
			where
				dinfo_devicein = #{deviceinCode}
		</update>
		
		<delete id="deviceInfoDelete" parameterType="device">
			Delete 
			From tb_deviceinfo
			Where dinfo_devicein = #{deleteCode}
		</delete>
			
		<delete id="deviceDelete" parameterType="device">			
			Delete 
			From tb_devicein
			Where devicein_code = #{deleteCode}				
		</delete>
		
</mapper>
	
