<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.epm.mapper.StaffMapper">


	<resultMap type="Staff" id="StaffSelect">
   			<result property="staff_code" 	column="staff_code"/>
   			<result property="staff_id" 	column="staff_id"/>
   			<result property="store_code" 	column="store_code"/>
   			<result property="store_name" 	column="store_name"/>
   			<result property="staff_level" 	column="level_code"/>
   			<result property="staff_reg_id" 	column="staff_reg_id"/>
   			<result property="staff_reg_date" 	column="staff_reg_date"/>
   			<result property="member_name" 	column="member_name"/>
   			<result property="member_id" 	column="member_id"/>
   			<result property="count" 	column="count(lo.member_id)"/>
   			<result property="level_name" 	column="level_name"/>
   			<result property="logout_date" 	column="max(lo.logout_date)"/>
   	</resultMap>
   	
   	<update id="staffSetDel" parameterType="staff">
	   	UPDATE tb_customer
		SET
			staff_code=NULL
		where
		   staff_code =#{staff_code}
   	</update>
   	
   	
   	
   	<delete id="staffDelete" parameterType="String" statementType="PREPARED" >
	 	DELETE FROM tb_staff WHERE staff_code=#{staff_code};
   	</delete>
   	
   	<update id="staffUpdate" parameterType="staff">
   	
   	UPDATE 
   		tb_staff
	SET 
		level_code=#{staff_level}
	WHERE 
		member_id=#{member_id};
   	
   	</update>
   	
   	<select id="getStaffSelect" parameterType="String" resultMap="StaffSelect">
	   	SELECT 
			 s.member_id
			,m.member_name
			,st.store_name
			,l.level_name
			,s.store_code
			,s.level_code
		FROM 
			tb_staff AS s
		JOIN
			tb_member AS m
		ON
			s.member_id = m.member_id
		JOIN 
			tb_store AS st
		ON 
			s.store_code = st.store_code
		JOIN 
			tb_level AS l
		ON 
			s.level_code = l.level_code	
		WHERE 
			s.member_id =#{staff_id};
   	
   	
   	</select>
   	
   	
   	<select id="staffList" parameterType="String" resultMap="StaffSelect">
	   	SELECT 
	   		 s.staff_code
			,m.member_name 
			,s.member_id 
			,st.store_name 
			,l.level_name 
			,count(lo.member_id)
			,max(lo.logout_date)
			,staff_reg_date 
		FROM 
			tb_staff AS s
			JOIN
			tb_member AS m
			ON
			s.member_id = m.member_id
			JOIN 
			tb_store AS st
			ON 
			s.store_code = st.store_code
			JOIN 
			tb_level AS l
			ON 
			s.level_code = l.level_code
			JOIN 
			tb_login AS lo
			ON 
			s.member_id = lo.member_id
			GROUP BY 
			lo.member_id;
   	
   	
   	</select>
   	
	<insert id="addStaff" parameterType="staff">
		<selectKey order="BEFORE" keyProperty="staff_code" resultType="String" >
	    	select
		    	(case COUNT(*)
		 			when 0 then 'staff_1'
			    	else concat('staff_',Max(cast(SUBSTR(staff_code,7) AS DECIMAL))+1)
			    	end) as staff_code
	    	from
	    	  	tb_staff as s
		</selectKey> 
		INSERT INTO tb_staff
			(staff_code
			,member_id
			,store_code
			,level_code
			,member_reg_id
			,staff_reg_date)
		VALUES 
			(#{staff_code}
			,#{staff_id}
			,#{store_name}
			,#{staff_level}
			,#{staff_reg_id}
			, NOW())
	</insert>



</mapper>