<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.epm.mapper.StoreMapper">

		<resultMap type="Store" id="StoreSelect">
   			<result property="store_Code" 	column="store_code"/>
   			<result property="store_Name" 	column="store_name"/>
   			<result property="store_Addr" 	column="store_addr"/>
   			<result property="store_Tel" 	column="store_tel"/>
   			<result property="store_Reg_id" 	column="member_id"/>
   			<result property="store_Reg_date" 	column="store_reg_date"/>
   			<result property="member_name" 	column="member_name"/>
   			<result property="member_tel" 	column="member_tel"/>
   		</resultMap>
		
		
		
	<select id="getStoreSelect" parameterType="String" resultMap="StoreSelect">
		SELECT 
			store_code
			,store_name
			,store_addr
			,store_tel
			,member_id
			,store_reg_date
		FROM tb_store
		where
		 store_name =#{store_Name};
	</select>

	<select id="storeList" parameterType="String" resultMap="StoreSelect" >
		SELECT 
			s.store_code 
			,s.store_name 
			,s.store_addr 
			,s.store_tel 
			,m.member_name 
			,m.member_tel 
			,s.store_reg_date
		FROM tb_store AS s
		JOIN tb_member AS m
		on
		s.member_id = m.member_id
		ORDER by
		m.member_name
		,m.member_tel;
	</select>

	
	<insert id="addStore" parameterType="store">
	<selectKey order="BEFORE" keyProperty="store_Code" resultType="String">
		    	select
		    	(case COUNT(*)
	 			when 0 then 'store_1'
		    	else concat('store_',Max(cast(SUBSTR(store_code,7) AS DECIMAL))+1)
		    	end) as store_code
		    	from
		    	  	tb_store as s
		</selectKey> 
		INSERT INTO tb_store
				(store_code
				, store_name
				, store_addr
				, store_tel
				, member_id
				, store_reg_date)
		VALUES (#{store_Code}
				,#{store_Name}
				,#{store_Addr}
				,#{store_Tel}
				,#{store_Reg_id}
				, NOW())
	
	</insert>

</mapper>