<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<div class="content-header">
      		<div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1><i class="nav-icon fas fa-edit"></i> 회원수정</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">

	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
      	</div>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-5" style="margin:auto;">
					  <div class="card">
					    <div class="card-body register-card-body">
					      <p class="login-box-msg">Manage account</p>
					
					      <form action="/memberInsert" method="post" enctype="multipart/form-data">
					        <div class="input-group mb-3">
					          <input type="text" class="form-control" placeholder="ID" readonly="readonly" th:value="${member.memberId}">
					          <div class="input-group-append">
					            <div class="input-group-text">
					              <span class="fas fa-user"></span>
					            </div>
					          </div>
					        </div>
					        <div class="input-group mb-3">
					          <input type="text" class="form-control" placeholder="Name" th:value="${member.memberName}">
					          <div class="input-group-append">
					            <div class="input-group-text">
					              <span class="fas fa-user"></span>
					            </div>
					          </div>
					        </div>
					        <div class="input-group mb-3">
					          <input type="password" class="form-control" placeholder="Password" th:value="${member.memberPw}">
					          <div class="input-group-append">
					            <div class="input-group-text">
					              <span class="fas fa-lock"></span>
					            </div>
					          </div>
					        </div>
					        <div class="input-group mb-3">
					          <input type="password" class="form-control" placeholder="Retype Password" name="memberPw" th:value="${member.memberPw}">
					          <div class="input-group-append">
					            <div class="input-group-text">
					              <span class="fas fa-lock"></span>
					            </div>
					          </div>
					        </div>
					        <div class="input-group mb-3">
					          <input type="text" class="form-control" placeholder="Phone" name="memberTel" th:value="${member.memberTel}">
					          <div class="input-group-append">
					            <div class="input-group-text">

					            </div>
					          </div>
					        </div>
					        <div class="form-group">
					           <div class="input-group">
					             <div class="custom-file">
					               <input type="file" class="custom-file-input" id="file" name="file">
					               <label class="custom-file-label" for="inputFile">Choose file</label>
					             </div>
					             <div class="input-group-append">
					               <span class="input-group-text" id="">Upload</span>
					             </div>
					           </div>
					         </div>
					        <div class="row">
					          
					          <div class="col-12">
					            <button type="submit" class="btn btn-secondary btn-block">Modify</button>
					          </div>
					          <!-- /.col -->
					        </div>
					      </form>
					      
					    </div>
					    <!-- /.form-box -->
					  </div><!-- /.card -->
				  </div>
				</div>
			</div>
		</section>
		<!-- 컨텐츠 영역 끝 -->
	</div>
	<!-- 컨텐트 랩퍼 끝 -->
</th:block>
<th:block layout:fragment="customFooterScript">
</th:block>
</html>