<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM | MemberList</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1><i class="nav-icon fas fa-edit"></i> 회원관리</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
					<button type="button" class="btn btn-block btn-secondary"  data-toggle="modal" data-target="#modalMemberInsert" style="margin: 5px;">회원등록</button>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12" style="margin: 0 auto;">
            <div class="card">
              <div class="card-header">
	                <div class="card-tools">
	                   <div class="row">
						<form class="form-inline float-right" action="#" method="post">
							<select class="form-control" name="searchK">
	                          <option value="MemberId">아이디</option>
	                          <option value="Membername">이름</option>
	                        </select>
							<input type="text" class="form-control" name="searchV" placeholder="Enter ...">
							<button type="submit" class="form-control btn btn-block btn-secondary">검색</button>
						</form>
					</div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                  
                    <tr>
                      <th>프로필</th>
                      <th>아이디</th>
                      <th>이름</th>
                      <th>전화번호</th>
                      <th>가입일자</th>
                      <th>수정</th>
                      <th>삭제</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                  
                    <tr>
                      <td>첨부1.jpg</td>
                      <td>admin</td>
                      <td>김관리</td>
                      <td>010-4537-4632</td>
                      <td>2020-06-11</td>
                      <td><a href="/memberUpdate"><i class="fas fa-file-signature"></i></a></td>
                      <td><a href="#"><i class="far fa-trash-alt"></i></a></td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer" style="text-align: center;">
			       				<a href="#"><i class="right fas fa-angle-left"></i></a>
			       				<a href="#">1</a>
			       				<a href="#">2</a>
			       				<a href="#">3</a>
			       				<a href="#">4</a>
			       				<a href="#">5</a>
			       				<a href="#"><i class="right fas fa-angle-right"></i></a>
				</div>
            </div>
            <!-- /.card -->
          </div>
				</div>
			</div>
			
			<!-- 모달 modalMemberInsert -->
				<div class="modal fade" id="modalMemberInsert" style="display: none;" aria-hidden="true">
			        <div class="modal-dialog">
			          <div class="modal-content">
			            <div class="modal-header">
			              <h4 class="modal-title"><i class="nav-icon fas fa-book"></i> 회원등록</h4>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                <span aria-hidden="true">×</span>
			              </button>
			            </div>
			            <div class="modal-body">
			              
			              	<form action="#" method="post">
					              <!-- 모달 바디 내용 -->
					             <div class="row">
									<div class="col-12" style="margin:auto;">
									  <div class="card">
									    <div class="card-body register-card-body">
									      <p class="login-box-msg">Manage account</p>
									
									        <div class="input-group mb-3">
									          <input type="text" class="form-control" placeholder="ID">
									          <div class="input-group-append">
									            <div class="input-group-text">
									              <span class="fas fa-user"></span>
									            </div>
									          </div>
									        </div>
									        <div class="input-group mb-3">
									          <input type="text" class="form-control" placeholder="Name">
									          <div class="input-group-append">
									            <div class="input-group-text">
									              <span class="fas fa-user"></span>
									            </div>
									          </div>
									        </div>
									        <div class="input-group mb-3">
									          <input type="password" class="form-control" placeholder="Password">
									          <div class="input-group-append">
									            <div class="input-group-text">
									              <span class="fas fa-lock"></span>
									            </div>
									          </div>
									        </div>
									        <div class="input-group mb-3">
									          <input type="text" class="form-control" placeholder="Phone">
									          <div class="input-group-append">
									            <div class="input-group-text">
				
									            </div>
									          </div>
									        </div>
									        <div class="form-group">
									           <div class="input-group">
									             <div class="custom-file">
									               <input type="file" class="custom-file-input" id="inputFile">
									               <label class="custom-file-label" for="inputFile">Choose file</label>
									             </div>
									             <div class="input-group-append">
									               <span class="input-group-text" id="">Upload</span>
									             </div>
									           </div>
									         </div>
									        <div class="row">
									          
									          <div class="col-12">
									            <button type="submit" class="btn btn-secondary btn-block">Modify</button>
									          </div>
									          <!-- /.col -->
									        </div>
									      
									    </div>
									    <!-- /.form-box -->
									  </div><!-- /.card -->
								  </div>
								</div>
			              	</form>
		              
			            </div>
			          
			          </div>
			          <!-- /.modal-content -->
			        </div>
			        <!-- /.modal-dialog -->
			      </div>
			
			
		</section>
		<!-- 컨텐츠 영역 끝 -->
	</div>
	<!-- 컨텐트 랩퍼 끝 -->
</th:block>
<th:block layout:fragment="customFooterScript">
</th:block>
</html>