<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">

</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>중고 관리</h1>
          </div>
          <div class="col-sm-6">
   			<ol class="breadcrumb float-sm-right">	
				<button type="button" class="btn btn-info btn-sm pd-x-5 pd-y-0" data-toggle="modal" data-target="#modal-lg"> 중고 입고 </button>						
			</ol>
		</div>   
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
      <!-- /.modal -->
      <div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">중고 입고</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                            
              <div th:include="used/usedInsert :: uInsert"></div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary">확인</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div> 
      
      
        <div class="row">
          <div class="col-12">
          	<div class="card">
              <div class="card-header">
                <h3 class="card-title">중고 단말기를 관리하실 수 있습니다</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-striped">
                  <thead>
                  <div class="form-inline">
                  <div class="pull-left mg-b-10 mg-r-10 input-group input-group-sm wd-250">
					<input type="text" name="sdate" class="form-control form-control-sm fc-datepicker hasDatepicker" maxlength="10" placeholder="YYYY-MM-DD" id="dp1592198183298">
					-
					<input type="text" name="edate" class="form-control form-control-sm fc-datepicker hasDatepicker" maxlength="10" placeholder="YYYY-MM-DD" id="dp1592198183299">
				  </div> 
				  
				  <div class="pull-left mg-b-10 mg-r-10" style="margin: 5px;">
					<input type="button" class="btn btn-secondary btn-sm" onclick="inputDateDay(0)" value="오늘">
					<input type="button" class="btn btn-secondary btn-sm" onclick="inputDateDay(-7)" value="1주일">
					<input type="button" class="btn btn-secondary btn-sm" onclick="inputDateMon(0)" value="당월">
					<input type="button" class="btn btn-secondary btn-sm" onclick="inputDateMon(-1)" value="전월">
					<input type="button" class="btn btn-secondary btn-sm" onclick="inputDateMon(-2)" value="전전월">
					<input type="button" class="btn btn-secondary btn-sm" onclick="inputDateClean()" value="X">
				</div>			  
				           
						</div>	
					<div class="form-inline">
					                  
							<select class="form-control" style="margin: 5px;">
	                          <option value="">보유</option>
	                          <option value="">판매</option>
	                        </select>
	                        <input type="text" class="form-control form-control-sm" placeholder="모델명">

							<div id="example1_filter" class="dataTables_filter">
								<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" style="margin: 5px;">
							</div>
						
							<button type="submit" class="form-control btn btn-block btn-secondary" style="margin: 5px;">검색</button>	
							
							<div class="dataTables_length" id="example1_length" style="margin: 10px;">							
									<select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm" style="align: bottom;">
										<option value="10">목록 10개씩 보기</option>
										<option value="25">목록 25개씩 보기</option>
										<option value="50">목록 50개씩 보기</option>
										<option value="100">목록 100개씩 보기</option>
									</select>											
							</div>
							</div>
                 <tr>
                    <th>상태</th>
                    <th>입고일</th>                    
                    <th>통신사</th>
                    <th>종류</th>
                    <th>일련번호</th>
                    <th>모델명</th>
                    <th>색상</th>
                    <th>입고가</th>
                    <th>매장</th>
                    <th>직원</th>
                    <th>비고</th>
                    <th>관리</th>
                    
                         
                </tr>
                  </thead>
                  <tbody>                  
                  <tr>
                    <td>신규</td>
                    <td>20-06-04</td>                   
                    <td>KT</td>
                    <td>휴대폰</td>
                    <td>1234</td>
                    <td>LM-G900N</td>
                    <td>오로라 그레이</td>
                    <td>899,800</td>
                    <td>epm 본점</td>
                    <td>김대표</td>
                    <td>퀵배송</td>                   
                    <td align="center">
                     <button type="button" class="btn btn-info btn-sm pd-x-5 pd-y-0" data-toggle="modal" data-target="#modal-Info"><i class="icon ion-ios-browsers"></i></button>
                    
                      <!-- /.modal -->
      <div class="modal fade" id="modal-Info" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title col-sm-6">중고 정보</h4>
              <div class="col-sm-6" >	   			
					<button class="btn btn-info btn-sm pd-x-5 pd-y-0" style="margin:5px" data-toggle="modal" data-target="#modal-Update"><i class="fa fa-wrench"></i></button> 					
					<button class="btn btn-info btn-sm pd-x-5 pd-y-0" style="margin:5px" data-toggle="modal" data-target="#modal-Delete"><i class="fa fa-trash"></i></button>
			</div> 
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                            
              <div th:include="used/usedInfo :: uInfo"></div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary">확인</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div> 
      <!-- /.modal -->
      <div class="modal fade" id="modal-Update" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title col-sm-6">중고 정보 수정</h4>              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                            
              <div th:include="used/usedUpdate :: uUpdate"></div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary">확인</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div> 
       <!-- modal delete -->
      <div class="modal fade" id="modal-Delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title col-sm-6">안내</h4>              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">            
            	  삭제하시겠습니까?
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary">확인</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>    
                    </td>                   
                  </tr>   
                 </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</th:block>
<th:block layout:fragment="customFooterScript">


<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      
    });
  });
</script>



</th:block>





</html>