<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">

</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">
	 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>중고 수정</h1>
          </div>
	        <div class="col-sm-6">
	   			<ol class="breadcrumb float-sm-right">
				　	<a href="/usedList"  class="btn btn-info btn-sm pd-x-5 pd-y-0"><i class="far fa-file-alt" ></i> 중고 목록</a>							
				</ol>
			</div>     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">정보수정</h3>

           
            </div>
            <div class="card-body" th:fragment="uUpdate">
            <div class="row mg-t-20 mg-b-20" align="left">
             <div class="col-6" style="padding-right:10px">     
              <div class="form-group">
                <label for="inputName">매장</label>
                <input type="text" id="inputName" class="form-control" value="epm 본점">
              </div>
              <div class="form-group">
                <label for="inputStatus">입고직원</label>
                <select class="form-control custom-select">                  
                  <option selected>직원1</option>
                  <option>직원2</option>
                  <option>직원3</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">입고일</label>
                <input type="date" id="inputName" class="form-control" >
              </div>             
              <div class="form-group">
                <label for="inputName">모델명</label>
                <input type="text" id="inputName" class="form-control" >
              </div>
              <div class="form-group">
                <label for="inputStatus">종류</label>
                <select class="form-control custom-select">                  
                  <option selected>휴대폰</option>
                  <option>태블릿</option>             
                </select>
              </div>
              </div>
             <div class="col-6" style="padding-right:10px">     
               <div class="form-group">
                <label for="inputStatus">통신망</label>
                <select class="form-control custom-select">                  
                  <option selected>전체</option>
                  <option>SKT</option>
                  <option>KT</option>
                  <option>LGT</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">색상</label>
                <input type="text" id="inputName" class="form-control" >
              </div>
              <div class="form-group">
                <label for="inputName">입고가</label>
                <input type="text" id="inputName" class="form-control" >            
              </div>
              <div class="form-group">
                <label for="inputName">일련번호</label>
                <input type="text" id="inputName" class="form-control" >            
              </div>
              <div class="form-group">
                <label for="inputName">비고</label>
                <input type="text" id="inputName" class="form-control" >            
              </div>
              </div>
             </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
                <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Save Changes" class="btn btn-success">
        </div>
      </div>
        </div>
        
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">

<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</th:block>





</html>