<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">
	<title th:text="${title}"></title>
</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">

	 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>중고 입고</h1>
          </div>
	        <div class="col-sm-6">
	   			<div class="breadcrumb float-sm-right">
				　	<a href="/usedList"  class="btn btn-info btn-sm pd-x-5 pd-y-0"><i class="far fa-file-alt" ></i> 중고 목록</a>							
				</div>
			</div>     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">정보입력</h3>

           
           
           
            </div>
            <div class="card-body">
            <div th:fragment="uInsert">
            <div class="row mg-t-20 mg-b-20">
             <div class="col-6" style="padding-right:10px">      
              
              <div class="form-group">
	                <label for="inputStatus">입고직원</label>
	                <select class="form-control custom-select" name="usedinStaff">                  
	                  <option selected value="staff_1">직원1</option>
	                  <option value="staff_2">직원2</option>	                                
	                </select>
	              </div>
             <div class="form-group">
	                <label for="inputName">모델명</label>	                
	                <input type="text" id="deviceModel" class="form-control" name="deviceModel" value="model1" >
	              </div>
              <div class="form-group">
	                <label for="inputStatus">종류</label>
	                <select class="form-control custom-select" name="deviceType">                  
	                  <option selected value="type1">휴대폰</option>
	                  <option value="type2">태블릿</option>             
	                </select>
	              </div>
	              <div class="form-group">
                <label for="inputStatus">통신망</label>
                <select class="form-control custom-select" name="usedinTelecom">                  
                  <option selected>전체</option>
                  <option value="SKT">SKT</option>
                  <option value="KT">KT</option>
                  <option value="LG U+">LG U+</option>
                </select>
              </div>
              </div>
              <div class="col-6" style="padding-right:10px"> 
               
              <div class="form-group">
	                <label for="inputName">색상</label>
	                <input type="text" id="deviceColor" class="form-control" name="deviceColor" value="color1">
	              </div>
	              <div class="form-group">
	                <label for="inputName">입고가</label>
	                <input type="text" id="devicePrice" class="form-control" name="usedinPrice" value="1000000">            
	              </div>
	              <div class="form-group">
	                <label for="inputName">일련번호</label>
	                <input type="text" id="deviceSerial" class="form-control" name="usedinSerial" value="serial1" >            
	              </div>
	              <div class="form-group">
	                <label for="inputName">비고</label>
	                <input type="text" id="deviceMemo" class="form-control" name="usedinMemo" value="memo1"> 
	              </div> 	                          
	              </div>
              </div>
             </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">

<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</th:block>





</html>