<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1><i class="nav-icon fas fa-list-alt"></i> 사내게시판</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item">사내게시판</li>
	            </ol>
	          </div>
	        </div>
	      </div>
	      <!-- /.container-fluid -->
	    </section>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
				
				<!-- 게시물 영역 -->
					<div th:each="bd : ${companyBoardContentSelect}" class="col-md-10" style="margin: 0 auto;">
						<div class="card card-secondary">
			              <div class="card-header">
			                <h3 class="card-title" th:text="${bd.companyTitle}">게시물 제목</h3>
			              </div>
			              <!-- /.card-header -->
							<div  class="card-body">
					         	<div class="row">
				                  	<div class="offset-6 col-6" style="text-align: right">
				                  		<small th:text="${bd.companyDate}"></small>
				                  	</div>
			                  	</div>
			                  	<div class="row">
			                  		<div class="col-6" style="text-align: left">
				                  		<small th:text="${bd.staffName}">글쓴이</small>
				                  	</div>
			                  		<div class="col-6" style="text-align: right">
				                  		<small><i class="fas fa-file-download"></i> <a th:href="@{fileupload/{file}(file=${bd.companyFile})}" th:text="${bd.companyFile}"> 첨부파일</a></small>
				                  	</div>
			                  	</div>
								<hr>
								<p class="card-text" th:text="${bd.companyDesc}">내용</p>
			                </div>
			                <!-- /.card-body -->
			
			                <div class="card-footer">
			                	<div style="float: left;">
			                  		<a href="/companyListContents"><button type="button" class="btn btn-sm btn-secondary">목록</button></a>
			                   </div>
			                   <div style="float: right">
				                  <a th:href="@{/companyUpdateContents(company_code=${bd.companyCode})}"><button type="button" class="btn btn-sm btn-secondary" >수정</button></a>
				                  <a th:href="@{/companyDeleteContents(company_code=${bd.companyCode})}"><button type="button" class="btn btn-sm btn-secondary">삭제</button></a>
			                  </div>
			                </div>
			            </div>
			            <div>
						<small th:text="'댓글 수 '+${bd.commentCount}"></small>
						</div>
					</div>
					<!-- 게시물 영역 끝 -->
					
				</div>
				
				<!-- 댓글 영역 -->
				<div id="reply">
					<div class="row">  
						<div class="col-md-10" style="margin: 0 auto;">
								<!-- 댓글내용 -->
								<div class="card card-secondary card-outline" th:each=" cl : ${companyBoardCommentList}">
					              <div class="card-body">
					              	<div class="row">
					               		<div class="col-6" style="text-align: left">
					                  		<small th:text="${cl.staffName}">글쓴이</small>
					                  	</div>
						               	<div class="col-6" style="text-align: right">
					                  		<small th:text="${cl.companyCDate}"></small>
					                  	</div>
				                  	</div>
									<hr>	               		
									<div th:id="${cl.companyCCode}">
						                <p class="card-text" th:text="${cl.companyCDesc}" >댓글내용</p>
										<div style="float: right" class="replyButtons">
							                  <button type="button" class="btn btn-sm btn-secondary replyModifyButton" th:data-id="${cl.companyCCode}">수정</button>
							                  <a th:href="@{/companyDeleteComment(company_c_code=${cl.companyCCode})}"><button type="button" class="btn btn-sm btn-secondary">삭제</button></a>
						                </div>
					                </div>
					              </div>
					            </div>
							
					            
					            <!-- 댓글입력창 -->
					            <form action="/companyInsertComment" method="post" id="replyForm">
				                  <div class="input-group">
				                  	<input type="text" hidden="hidden" readonly="readonly" id="companyCode" name="companyCode">
				                  	<input type="text" hidden="hidden" readonly="readonly" id="staffCode" name="staffCode">
				                    <input type="text" placeholder="Type Message ..." class="form-control" name="companyCDesc">
				                    <span class="input-group-append">
				                      <button type="button" class="btn btn-secondary" id="replyButton">Send</button>
				                    </span>
				                  </div>
				                </form>
					            
						</div>
					</div>
				</div>
				<!-- 댓글 영역 끝 -->
				
			</div>
		</section>
		<!-- 컨텐츠 영역 끝 -->
	</div>
	<!-- 컨텐트 랩퍼 끝 -->
</th:block>
<th:block layout:fragment="customFooterScript">

	<script type="text/javascript">
		$(document).ready( function() {
			
			/* var uri = decodeURI(location.href);
			uri = uri.substr(uri.indexOf('?'));
			$("#reply").load("/companyComment"+uri); */
			
			
			/* 댓글등록,유효성검사 */
			var cCode = decodeURI(location.href);
			cCode = cCode.substr(cCode.indexOf('=')+1);
			$('#companyCode').val(cCode);
			
			var sCode = $('#LoginStaffCode').val();
			$('#staffCode').val(sCode);
			
			$('#replyButton').click(function(){
				if( $('input[name=companyCDesc]').val() == null || $('input[name=companyCDesc]').val() == '' ){
					alert('내용을 입력하세요.');
					return false;
				}
				$('#replyForm').submit()
			});
			
		});
		
		/* 댓글수정 */
		
		var originDesc = '';
		var buttonParent ='';
		
		$(document).on('click','.replyModifyButton',function(){
			var companyCDesc = $(this).parent().prev().html();
			var companyCCode = $(this).data('id');
			
			//수정 전 태그
			originDesc = $(this).parent().parent().html();
			replyButtons = $(this).parents('.replyButtons').html();
			
			//수정 화면
		    var html = '<div style="margin-bottom: 16px;">'
		    html += '<form action="#" method="post" id="replyModifyForm">';
		    html += '<input hidden="hidden" type="text" name="companyCCode" value='+companyCCode+'>'
		    html += '<textarea class="form-control" rows="5" placeholder="Comment"  name="commentDesc" value="'+companyCDesc+'">';
		    html += companyCDesc;
		    html += '</textarea>'
		    html += '</form>'
		    html += '</div>'
		    html += '<div style="float: right" class="modifyButtons">'
		    html += '<button type="button" class="replyModifyConfirmButton btn btn-sm btn-secondary">수정</button> '
		    html += '<button type="button" class="replyModifyCancleButton btn btn-sm btn-secondary">취소</button>'
		    html += '</div>'
		    
		    $(this).parent().parent().html(html);
			
		});
		
		//수정확인
		$(document).on('click','.replyModifyConfirmButton',function(){
			console.log('수정확인');
			var companyCDesc = $(this).parent().prev().children('form').children('textarea[name="commentDesc"]').val()
			var companyCCode = $(this).parent().prev().children('form').children('input[name="companyCCode"]').val();
			
			//유효성검사
			if(companyCDesc == null || companyCDesc == ''){
				alert('댓글을 입력해주세요.');
				return false;
			}
			
			//수정처리
			var request = $.ajax({
				url: "/companyCommentUpdate", //통신할 url
				method: "POST", //통신할 메서드 타입
				data: { "companyCDesc" : companyCDesc
						,"companyCCode" : companyCCode}, //전송할 데이타
				dataType: "json",
				async: false
			});	 
			
			
			var html ='';
			
			request.done(function( data ) {

				html = '<p class="card-text">'+data.companyCDesc+'</p>';
				html += '<div style="float: right" class="replyButtons">'
				html += replyButtons;
				html += '</div>'
				
			});	
			
			$(this).parent().parent().html(html);
			
		});
		
		//수정취소
		$(document).on('click','.replyModifyCancleButton',function(){
			console.log('수정취소');
			 $(this).parent().parent().html(originDesc);
		});
				
	</script>
	
</th:block>
</html>