<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1><i class="nav-icon fas fa-list-alt"></i> 사내게시판 글 수정</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">

	            </ol>
	          </div>
	        </div>
	      </div>
	      <!-- /.container-fluid -->
	    </section>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10" style="margin: 0 auto;">
									<div class="card card-secondary">
			              <div class="card-header">
			                <h3 class="card-title">사내게시판 글 수정</h3>
			              </div>
			              <!-- /.card-header -->
			              <!-- form start -->
			              <form role="form" id="companyUpdateContentsForm" enctype="multipart/form-data" method="post" action="/companyUpdateContents" th:each="cs : ${companyBoardContentSelect}" >
			              	<input type="text" hidden="hidden" th:value="${cs.companyCode}" name="companyCode">
			                <div class="card-body">
			                  <div class="form-group">
			                    <label for="exampleInputEmail1">제목</label>
			                    <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="companyTitle" th:value="${cs.companyTitle}">
			                  </div>
			                  <div class="form-group">
			                    <label for="exampleInputPassword1">내용</label>
			                    <textarea class="form-control" rows="5" placeholder="Content" name="companyDesc" th:value="${cs.companyDesc}" th:text="${cs.companyDesc}"></textarea>
			                  </div>
			                  <div class="form-group">
			                    <label for="exampleInputFile">첨부파일</label>
			                    <div class="input-group">
			                      <div class="custom-file">
			                        <input type="file" class="custom-file-input" id="inputFile" name="file">
			                        <label class="custom-file-label" for="inputFile">Choose file</label>
			                      </div>
			                      <div class="input-group-append">
			                        <span class="input-group-text" id="">Upload</span>
			                      </div>
			                    </div>
			                  </div>
			                </div>
			                <!-- /.card-body -->
			
			                <div class="card-footer" style="text-align: right;">
			                  <button type="button" class="btn btn-secondary" id="companyBoardContentModify">Submit</button>
			                </div>
			              </form>
			            </div>
					</div>
				</div>
			</div>
		</section>
		<!-- 컨텐츠 영역 끝 -->
	</div>
	<!-- 컨텐트 랩퍼 끝 -->
</th:block>
<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			
			$('#companyBoardContentModify').click(function(){
				if($('input[name=companyTitle]').val() == null || $('input[name=companyTitle]').val() == ''){
					alert('제목을 입력해주세요');
					return false;
				}
				if($('textarea[name=companyDesc]').val() == null || $('textarea[name=companyDesc]').val() == ''){
					alert('내용을 입력해주세요');
					return false;
				}
				
				
				$('#companyUpdateContentsForm').submit()
				
			})
			
		})
	</script>
</th:block>
</html>