<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1><i class="nav-icon fas fa-list-alt"></i> 사내게시판</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item">사내게시판</li>
	            </ol>
	          </div>
	        </div>
	      </div>
	      <!-- /.container-fluid -->
	    </section>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
				
				<!-- 게시물 영역 -->
					<div th:each="bd : ${companyBoardContentSelect}" class="col-md-10" style="margin: 0 auto;">
						<div class="card card-secondary">
			              <div class="card-header">
			                <h3 class="card-title" th:text="${bd.companyTitle}">게시물 제목</h3>
			              </div>
			              <!-- /.card-header -->
							<div  class="card-body">
					         	<div class="row">
				                  	<div class="offset-6 col-6" style="text-align: right">
				                  		<small th:text="${bd.companyDate}"></small>
				                  	</div>
			                  	</div>
			                  	<div class="row">
			                  		<div class="col-6" style="text-align: left">
				                  		<small th:text="${bd.staffName}">글쓴이</small>
				                  	</div>
			                  		<div class="col-6" style="text-align: right">
				                  		<small><i class="fas fa-file-download"></i> <a th:href="@{fileupload/{file}(file=${bd.companyFile})}" th:text="${bd.companyFile}"> 첨부파일</a></small>
				                  	</div>
			                  	</div>
								<hr>
								<p class="card-text" th:text="${bd.companyDesc}">내용</p>
			                </div>
			                <!-- /.card-body -->
			
			                <div class="card-footer">
			                	<div style="float: left;">
			                  		<a href="/companyListContents"><button type="button" class="btn btn-sm btn-secondary">목록</button></a>
			                   </div>
			                   <div style="float: right">
				                  <a th:href="@{/companyUpdateContents(company_code=${bd.companyCode})}"><button type="button" class="btn btn-sm btn-secondary" >수정</button></a>
				                  <a th:href="@{/companyDeleteContents(company_code=${bd.companyCode})}"><button type="button" class="btn btn-sm btn-secondary">삭제</button></a>
			                  </div>
			                </div>
			            </div>
			            <div>
						<small th:text="'댓글 수 '+${bd.commentCount}"></small>
						</div>
					</div>
					<!-- 게시물 영역 끝 -->
					
				</div>
				
				<!-- 댓글 영역 -->
				<div id="reply"> </div>
				<!-- 댓글 영역 끝 -->
				
			</div>
		</section>
		<!-- 컨텐츠 영역 끝 -->
	</div>
	<!-- 컨텐트 랩퍼 끝 -->
</th:block>
<th:block layout:fragment="customFooterScript">

	<script type="text/javascript">
		$(document).ready( function() {
			var uri = decodeURI(location.href);
			uri = uri.substr(uri.indexOf('?'));
			$("#reply").load("/companyComment"+uri);	
		});
	</script>
	
</th:block>
</html>