<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">

</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">
	 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" th:fragment="dInfo">

  
    <!-- Main content -->
    <div class="br-pagetitle" style="padding:0">
		<i class="icon ion-md-paper"></i>
	
		<div>
			<h4></h4>
		</div>
	</div>
			
	<div class="row mg-t-20 mg-b-20" >
		<div class="col-6" style="padding-right:10px">
			<div class="rounded table-responsive">
				<table class="table mg-b-0">
					
						<tr>
							<th colspan="2">
								<span class="tx-14">기본정보</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="tx-right">일련번호</th>
							<td>111111</td>
						</tr>
						<tr>
							<th class="tx-right">거래처</th>
							<td>금풍대리점(SK)</td>
						</tr>
						<tr>
							<th class="tx-right">통신사</th>
							<td>SK텔레콤</td>
						</tr>
						<tr>
							<th class="tx-right">모델명</th>
							<td>SM-G986N <span class="tx-10 tx-gray-500 mg-l-5"></span></td>
						</tr>
						<tr>
							<th class="tx-right">종류</th>
							<td>휴대폰</td>
						</tr>
						<tr>
							<th class="tx-right">색상</th>
							<td></td>
						</tr>
						<tr>
							<th class="tx-right">입고가</th>
							<td>1,353,000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-6" style="padding-left:10px">
			<div class="rounded table-responsive">
				<table class="table mg-b-0">
					<colgroup><col width="30%">
					<col width="70%">
					</colgroup><thead class="thead-colored thead-light">
						<tr>
							<th colspan="2">
								<span class="tx-14">입고정보</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="tx-right">상태</th>
							<td> 신규</td>
						</tr>
						<tr>
							<th class="tx-right">매장</th>
							<td>폰클데모 본점</td>
						</tr>
						<tr>
							<th class="tx-right">입고직원</th>
							<td>김대표</td>
						</tr>
						<tr>
							<th class="tx-right">입고일</th>
							<td>2020-06-12</td>
						</tr>
						<tr>
							<th class="tx-right">입고방법</th>
							<td>일반입고</td>
						</tr>
						<tr>
							<th class="tx-right">비고</th>
							<td></td>
						</tr>
						<tr>
							<th class="tx-right">등록일</th>
							<td>2020년 06월 12일 16시 58분</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">

<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</th:block>





</html>