<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">
	<title th:text="${title}"></title>
</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">

	 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
    <!-- Content Header (Page header) -->
     
 
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>단말기 입고</h1>
          </div>
          <div class="col-sm-6">
	   			<div class="breadcrumb float-sm-right">
				　	<a href="/deviceList" class="btn btn-info btn-sm pd-x-5 pd-y-0"><i class="far fa-file-alt" ></i> 단말기 목록</a>							
				</div>
			</div> 
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->    
    <section class="content">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">정보입력</h3>          
            </div>
             
            <div class="card-body">
          
	            <div th:fragment="dInsert">
	             <div class="col-6" style="padding-right:10px">             	
	              <div class="form-group">
	                <label for="inputName">매장</label>
	                <input type="text" id="storeName" class="form-control" name="infoStore" value="store1">
	              </div>
	              <div class="form-group">
	                <label for="inputStatus">입고직원</label>
	                <select class="form-control custom-select" name="deviceinStaff">                  
	                  <option selected value="staff_1">직원1</option>
	                  <option value="staff_2">직원2</option>
	                                
	                </select>
	              </div>
	              <div class="form-group">
	                <label for="inputName">입고방법</label>
					  <input checked type="radio" id="deviceMethod1" name="infoMethod" value="method1">
					  <label>일반입고</label>
					  <input type="radio" id="deviceMethod2" name="infoMethod" value="method2">
					  <label>바코드입고</label><br>				  
	              </div>
	              <div class="form-group">
	                <label for="inputStatus">거래처</label>
	                <select class="form-control custom-select" name="deviceinDealler">                  
	                  <option>-선택-</option>
	                  <option selected value="dealler_1">거래처1</option>
	                  <option value="dealler_2">거래처2</option>
	                </select>
	              </div>
	              <div class="form-group">
	                <label for="inputName">모델명</label>
	                
	                <input type="text" id="deviceModel" class="form-control" name="deviceModel" value="model1" >
	              </div>
	              </div>
	              
	              <div class="col-6" style="padding-right:10px">              
	              <div class="form-group">
	                <label for="inputStatus">종류</label>
	                <select class="form-control custom-select" name="deviceType">                  
	                  <option selected value="type1">휴대폰</option>
	                  <option value="type2">태블릿</option>             
	                </select>
	              </div>
	              <div class="form-group">
	                <label for="inputName">색상</label>
	                <input type="text" id="deviceColor" class="form-control" name="deviceColor" value="color1">
	              </div>
	              <div class="form-group">
	                <label for="inputName">입고가</label>
	                <input type="text" id="devicePrice" class="form-control" name="devicePrice" value="1000000">            
	              </div>
	              <div class="form-group">
	                <label for="inputName">일련번호</label>
	                <input type="text" id="deviceSerial" class="form-control" name="deviceinSerial" value="serial1" >            
	              </div>
	              <div class="form-group">
	                <label for="inputName">비고</label>
	                <input type="text" id="deviceMemo" class="form-control" name="deviceinMemo" value="memo1"> 
	              </div> 	                          
	              </div>
	              </div>
	            
             </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
         
        </div>
        
      </div>
 		</div>
    </section>
   
    </div>

    <!-- /.content -->
 
  <!-- /.content-wrapper -->

</th:block>
<th:block layout:fragment="customFooterScript">
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>

</th:block>
</html>