<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customCss">

</th:block>


<th:block layout:fragment="customTitle">
	
</th:block>

<th:block layout:fragment="customScript">

</th:block>



<th:block layout:fragment="customContents">
	 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" th:fragment="dInfo">

  
    <!-- Main content -->
    <div class="br-pagetitle" style="padding:0">
		<i class="icon ion-md-paper"></i>
	
		<div>
			<h4></h4>
		</div>
	</div>
			
	<div class="row mg-t-20 mg-b-20" >
		<div class="col-6" style="padding-right:10px">
			<div class="rounded table-responsive">
				<table class="table mg-b-0">
					<thead>
						<tr>
							<th colspan="2">
								<span class="tx-14">기본정보</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="tx-right">일련번호</th>
							<td><label id="infoserial"></label></td>
							
						</tr>
						<tr>
							<th class="tx-right">거래처</th>
							<td><label id="infodealler"></label></td>
						</tr>
						<tr>
							<th class="tx-right">통신사</th>
							<td><label id="infotelecom"></label></td>
						</tr>
						<tr>
							<th class="tx-right">모델명</th>
							<td><label id="infomodel"></label></td>
						</tr>
						<tr>
							<th class="tx-right">종류</th>
							<td><label id="infotype"></label></td>
						</tr>
						<tr>
							<th class="tx-right">색상</th>
							<td><label id="infocolor"></label></td>
						</tr>
						<tr>
							<th class="tx-right">입고가</th>
							<td><label id="infoprice"></label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-6" style="padding-left:10px">
			<div class="rounded table-responsive">
				<table class="table mg-b-0">
					<colgroup><col width="30%">
					<col width="70%">
					</colgroup><thead class="thead-colored thead-light">
						<tr>
							<th colspan="2">
								<span class="tx-14">입고정보</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr >
							<th class="tx-right">상태</th>
							<td><label id="infostatus"></label></td>
						</tr>
						<tr>
							<th class="tx-right">매장</th>
							<td><label id="infostore"></label></td>
						</tr>
						<tr>
							<th class="tx-right">입고직원</th>
							<td><label id="infostaff"></label></td>
						</tr>
						<tr>
							<th class="tx-right">입고일</th>
							<td><label id="infodate"></label></td>
						</tr>
						<tr>
							<th class="tx-right">입고방법</th>
							<td><label id="infomethod"></label></td>
						</tr>
						<tr>
							<th class="tx-right">비고</th>
							<td><label id="infomemo"></label></td>
						</tr>
						<tr>
							<th class="tx-right">등록일</th>
							<td><label id="inforegdate"></label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">

<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</th:block>





</html>