<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM | Unpaid List</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	          <h1><i class="nav-icon fas fa-book"></i> 미결 관리</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
					<button type="button" class="btn btn-block btn-secondary" data-toggle="modal" data-target="#modalUnpaidInsert" style="margin: 5px;">미결업무 등록</button>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		<section class="content">
			<div class="container-fluid">
				
				<div class="row">
					<div class="col-12" style="margin: 0 auto;">
			            <div class="card">
			              <div class="card-header">
									<div class="row">
											<form action="#" method="post">
											
											<div class="form-inline">
										            <div style="margin: 5px;"><i class="fa fa-calendar"></i></div>
										            <input type="text" class="form-control datetimepicker-input" id="datetimepicker1" data-toggle="datetimepicker" data-target="#datetimepicker1" placeholder="YYYY-MM-DD" name="startSearch" style="margin: 5px;"/>
										            <div style="margin: 5px;"><i class="fas fa-minus"></i></div>
										            <input type="text" class="form-control datetimepicker-input" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" placeholder="YYYY-MM-DD" name="endSearch" style="margin: 5px;"/>
										          
										            <button style="margin: 5px;" type="button" class="form-control btn btn-block btn-secondary btn-xs" id="today">오늘</button>
										           
										            <button style="margin: 5px;" type="button" class="form-control btn btn-block btn-secondary btn-xs" id="thisWeek">1주일</button>
										           
										            <button style="margin: 5px;" type="button" class="form-control btn btn-block btn-secondary btn-xs" id="thisMonth">1개월</button>
										    </div>
											
											<div class="form-inline">											                  
												<select class="form-control" name="statusSearch" id="statusSearch" style="margin: 5px;">
						                          <option value="">상태</option>
						                          <option value="접수">접수</option>
						                          <option value="해결">해결</option>
						                          <option value="취소">취소</option>
						                        </select>
												<select class="form-control" name="subjectSearch" id="subjectSearch" style="margin: 5px;">
						                          <option value="">구분</option>
						                          <option value="일반">일반</option>
						                          <option value="모바일">모바일</option>
						                          <option value="홈상품">홈상품</option>
						                        </select>
						                        
						                     <!-- *******접수직원 load******* -->
												<select class="form-control" name="statusSearch" id="statusSearch" style="margin: 5px;">
						                          <option value="">접수직원</option>
						                          <option value="take">접수직원!!</option>
						                        </select>
			
												<select class="form-control" name="searchK" style="margin: 5px;">
						                          <option value="phone">연락처 (뒷4자리)</option>
						                          <option value="customer">고객명</option>
						                          <option value="contents">내용 (일반업무)</option>
						                          <option value="memo">메모</option>
						                        </select>
												<input type="text" class="form-control" name="searchV" placeholder="Enter ..." style="margin: 5px;">
												<button type="submit" class="form-control btn btn-block btn-secondary" style="margin: 5px;">검색</button>
											</div>
										</form>
									</div>
			              </div>
			              <!-- /.card-header -->
			              <div class="card-body table-responsive p-0">
			                <table class="table table-hover text-nowrap">
			                  <thead>
			                    <tr>
			                      <th>상태</th>
			                      <th>예정일</th>
			                      <th>구분</th>
			                      <th>내용</th>
			                      <th>고객명</th>
			                      <th>연락처</th>
			                      <th>매장</th>
			                      <th>접수일</th>
			                      <th>접수직원</th>
			                      <th>처리일</th>
			                      <th>처리직원</th>
			                      <th>비고</th>
			                      <th>관리</th>
			                    </tr>
			                  </thead>
			                  <tbody>
			                    <tr th:each="upl : ${unpaidList}">
			                      <td>
				                      <span th:if="${upl.unpaidStatus} == '접수'" class="right badge bg-danger" th:text="${upl.unpaidStatus}" ></span>
				                      <span th:if="${upl.unpaidStatus} == '해결'" class="badge bg-info" th:text="${upl.unpaidStatus}"></span>
				                      <span th:if="${upl.unpaidStatus} == '취소'" class="badge bg-default" th:text="${upl.unpaidStatus}"></span>
			                      </td>
			                      <td th:text="${upl.unpaidExpDate}">a</td>
			                      <td th:text="${upl.unpaidPart}">a</td>
			                      <td th:text="${upl.unpaidDesc}">a</td>			                      
			                      <td th:text="${upl.customerName}">a</td>
			                      <td th:text="${upl.customerTel}"> a </td>
			                      <td th:text="${upl.unpaidRegStoreName}"> a </td> 
			                      <td th:text="${upl.unpaidRegDate}">a</td>
			                      <td th:text="${upl.unpaidRegMemberName}">a</td>
			                      <td th:text="${upl.unpaidProDate}">a</td>
			                      <td th:text="${upl.unpaidProMemberName}">a</td>
			                      <td><i class="fas fa-envelope-square" data-toggle="tooltip" data-placement="left" th:title="${upl.unpaidMemo}" ></i></td>
			                      <td><a href="#" data-toggle="modal" data-target="#modalUnpaidDetail" th:code="${upl.unpaidCode}" class="modalUnpaidDetailButton"><i class="fas fa-file-signature"></i></a></td>
			                    </tr>
			                  </tbody>
			                </table>
			              </div>
			              <!-- /.card-body -->
			              <div class="card-footer" style="text-align: center;">
						       				<a href="#"><i class="right fas fa-angle-left"></i></a>
						       				<a href="#">1</a>
						       				<a href="#">2</a>
						       				<a href="#">3</a>
						       				<a href="#">4</a>
						       				<a href="#">5</a>
						       				<a href="#"><i class="right fas fa-angle-right"></i></a>
							</div>
			            </div>
			            <!-- /.card -->
         			 </div>
				</div>
				
				<!-- 모달 modalUnpaidInsert -->
				<div class="modal fade" id="modalUnpaidInsert" style="display: none;" aria-hidden="true">
			        <div class="modal-dialog">
			          <div class="modal-content">
			            <div class="modal-header">
			              <h4 class="modal-title"><i class="nav-icon fas fa-book"></i> 미결업무 등록</h4>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                <span aria-hidden="true">×</span>
			              </button>
			            </div>
			            <div class="modal-body">
			              
			              	<form id="modalUnpaidInsertForm" action="/unpaidInsert" method="post">
				              <!-- 모달 바디 내용 -->
				              <div class="row">
					              	<div class="col-3" style="text-align: right;">
					              		<p>매장</p>
					              		<p>접수직원</p>
					              		<p>처리예정일</p>
					              		<p>구분</p>
									</div>
									<div class="col-1"></div>
									
					              	<div class="col-8">
					              		<input type="text" class="form-control" name="unpaidStatus" value="접수" hidden="hidden">
					              		<!-- 매장명 받아오기★★★ -->
					              		<input type="text" style="margin: 5px;" class="form-control" name="unpaidRegStoreName" value="삼삼1호점" readonly="readonly">
					              		<!-- 접수직원 목록 받아오기 ★★★ -->
					              		<input type="text" style="margin: 5px;" class="form-control" name="unpaidRegMemberName" value="김수지" readonly="readonly">
					              		<!-- 데이트픽커 -->
					              		<input type="date" class="form-control" name="unpaidExpDate" id="iUnpaidExpDate" style="width: 100%; margin: 5px;">
					              		<select class="form-control" name="unpaidPart" id="iUnpaidPart" style="margin: 5px;">
				                          <option value="">구분</option>
				                          <option value="일반">일반</option>
				                          <option value="모바일">모바일</option>
				                          <option value="홈상품">홈상품</option>
				                        </select>
					              	</div>
								</div>
									
								<hr>
									
								<div class="row">
									<div class="col-3" style="text-align: right;">
					              		<p>내용</p>
					              		<p>고객명</p>
					              		<p>연락처</p>
					              		<p>비고</p>
					              	</div>  	
					              	<div class="col-1"></div>
									<div class="col-8">
					              		<input type="text" class="form-control" name="unpaidDesc" style="margin: 5px;">
					              		<input type="text" class="form-control" name="customerName" id="iCustomerName" style="margin: 5px;">
					              		<input type="text" class="form-control" name="customerTel" style="margin: 5px;">
					              		<textarea class="form-control" rows="3" name="unpaidMemo" style="margin: 5px;"></textarea>
									</div>
								</div>
			              	</form>
		              
			            </div>
			            <div class="modal-footer justify-content-between">
			              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
			              <button type="button" class="btn btn-secondary" id="modalUnpaidInsertSubmit">미결업무 등록</button>
			            </div>
			          </div>
			          <!-- /.modal-content -->
			        </div>
			        <!-- /.modal-dialog -->
			      </div>
			      
				<!-- 모달 modalUnpaidDetail -->
				<div class="modal fade" id="modalUnpaidDetail" style="display: none;" aria-hidden="true">
			        <div class="modal-dialog modal-xl" style="min-width: 789px;">
			          <div class="modal-content">
			            <div class="modal-header">
			              <h4 class="modal-title"><i class="nav-icon fas fa-book"></i> 미결 정보</h4>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                <span aria-hidden="true">×</span>
			              </button>
			            </div>
			            <div class="modal-body">
			                <!-- 모달 바디 내용 -->
				              <div class="row">
					              
					              <div class="col-md-6">
						            <div class="card">
						              <div class="card-header">
						                <h3 class="card-title">
						                  		기본정보
						                </h3>
						              </div>
						              <!-- /.card-header -->
						              <div class="card-body">
											<div>
												<div class="row">
													<div class="col-3">예정일</div>
													<div class="col-8" id="aUnpaidExpDate"></div>
												</div>
												<hr>
												<div class="row">
													<div class="col-3">구분</div>
													<div class="col-8" id="aUnpaidPart"></div>
												</div>
												<hr>
												<div class="row">
													<div class="col-3">고객명</div>
													<div class="col-8" id="aCustomerName"></div>
												</div>
												<hr>
												<div class="row">
													<div class="col-3">연락처</div>
													<div class="col-8" id="aCustomerTel"></div>
												</div>
												<hr>
												<div class="row">
													<div class="col-3">비고</div>
													<div class="col-8" id="aUnpaidMemo"></div>
												</div>
												<hr>
												<div class="row">
													<div class="col-3">등록일</div>
													<div class="col-8" id="aUnpaidRegDate"></div>
												</div>
											</div>
						              </div>
						              <!-- /.card-body -->
						            </div>
						            <!-- /.card -->
						          </div>
						          
						          <div class="col-md-6">
							            <div class="card">
							              <div class="card-header">
							                <h3 class="card-title">
							                  		상태정보
							                </h3>
							              </div>
							              <!-- /.card-header -->
							              <div class="card-body">
												<div>
													<div class="row">
														<div class="col-3">상태</div>
														<div class="col-8" id="aUnpaidStatus"></div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">처리일</div>
														<div class="col-8" id="aUnpaidProDate"></div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">매장</div>
														<div class="col-8" id="aUnpaidRegStoreName"></div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">접수직원</div>
														<div class="col-8" id="aUnpaidRegMemberName"></div>
													</div>
												</div>
							              </div>
							              <!-- /.card-body -->
							            </div>
							            <!-- /.card -->

							            <div class="card">
							              <div class="card-header">
							                <h3 class="card-title">
							                  		개통정보
							                </h3>
							              </div>
							              <!-- /.card-header -->
							              <div class="card-body">
												<div>
													<div class="row">
														<div class="col-3">개통일</div>
														<div class="col-8" id="aUnpaidOpenDate"></div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">거래처</div>
														<div class="col-8" id="aUnpaidDeallerName"></div>
													</div>
												</div>
							              </div>
							              <!-- /.card-body -->
							            </div>
							            <!-- /.card -->
							          </div>
   						          </div>
						        </div>
								
									<hr>

			            <div class="modal-footer justify-content-between">
			              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
			              <button type="button" class="btn btn-secondary" id="modalUnpaidDetailOver">미결 완료 처리</button>
			              <form hidden="hidden" id="modalUnpaidDetailOverForm" action="/unpaidPro" method="post">
			               	<input id="unpaidCode" name="unpaidCode" >
			              	<input id="unpaidProMemberName" name="unpaidProMemberName">
			              	<input id="unpaidProStoreName" name="unpaidProStoreName">
			              </form>
			              <div>
				              <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#modalUnpaidModify" id="modalUnpaidDetailModify">수정</button>
				              <form hidden="hidden" id="modalUnpaidDetailDeleteForm" action="/unpaidDelete" method="post">
				              	<input name="unpaidCode">
				              </form>
				              <button type="button" class="btn btn-default" id="modalUnpaidDetailDelete">삭제</button>
			              </div>
			            </div>
			          </div>
			          <!-- /.modal-content -->
			        </div>
			        <!-- /.modal-dialog -->
			      </div>
			      
			      
			      
				<!-- 모달 modalUnpaidModify -->
				<div class="modal fade" id="modalUnpaidModify" style="display: none;" aria-hidden="true">
			        <div class="modal-dialog modal-lg" style="min-width: 500px;">
			          <div class="modal-content">
			            <div class="modal-header">
			              <h4 class="modal-title"><i class="nav-icon fas fa-book"></i> 미결 정보</h4>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                <span aria-hidden="true">×</span>
			              </button>
			            </div>
			            <div class="modal-body">
			                <!-- 모달 바디 내용 -->
				              <div class="row">
				              		
				              </div>
				              <div class="row">
					              
					              <div class="col-md-6"  style="margin: 0 auto;">
						            <div class="card" >
						              <div class="card-header">
						                <h3 class="card-title">
						                  		기본정보
						                </h3>
						              </div>
						              <!-- /.card-header -->
						              <div class="card-body">
											<div>
												<form action="/unpaidUpdate" method="post" id="modalUnpaidDetailModifyForm">
													<input type="text" name="unpaidCode" hidden="hidden" value="">
													<div class="row">
														<div class="col-3">예정일</div>
														<div class="col-8"><input type="date" name="unpaidExpDate" id="mUnpaidExpDate" value=""></div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">구분</div>
														<div class="col-8">
															<select name="unpaidPart" id="mUnpaidPart">
																<option>구분</option>
																<option value="일반">일반</option>
																<option value="모바일">모바일</option>
																<option value="홈상품">홈상품</option>
															</select>
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">고객명</div>
														<div class="col-8"><input type="text" name="customerName" id="mCustomerName" value=""></div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">연락처</div>
														<div class="col-8"><input type="text" name="customerTel" value=""></div>
													</div>
													<hr>
													<div class="row">
														<div class="col-3">비고</div>
														<div class="col-8"><textarea name="unpaidMemo"></textarea></div>
													</div>
												</form>
											</div>
						              </div>
						              <!-- /.card-body -->
						            </div>
						            <!-- /.card -->
						          </div>
						          
						        </div>
								<hr>
			            <div class="modal-footer justify-content-between">
			              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				              <div>
					              <button type="button" class="btn btn-default" id="modalUnpaidDetailModifyDo">수정</button>
					              <button type="button" class="btn btn-default"  data-dismiss="modal">취소</button>
				              </div>
			            </div>
			          </div>
			          <!-- /.modal-content -->
			        </div>
			        <!-- /.modal-dialog -->
			      </div>
				</div>
			</div>
		</section>
		<!-- 컨텐츠 영역 끝 -->
	</div>
	<!-- 컨텐트 랩퍼 끝 -->
</th:block>
<th:block layout:fragment="customFooterScript">
	<script type="text/javascript">
		$(function () {
			//세션에서 로그인 Id값 받아오기
			var loginName = $('#loginName').html()
			$('#modalUnpaidDetailOverForm').children('#unpaidProMemberName').val(loginName);
			//선택한 매장 값 받아오기
			$('#modalUnpaidDetailOverForm').children('#unpaidProStoreName').val(sessionStorage.getItem('storeSelect'));
			
						
			//미결정보삭제처리
		   	 $('#modalUnpaidDetailDelete').click(function(){
		   		 $('#modalUnpaidDetailDeleteForm').submit()
		   	 	});
			
			//미결정보수정처리
		   	 $('#modalUnpaidDetailModifyDo').click(function(){
		   		 //수정유효성검사
		   		 if($('#mUnpaidExpDate').val() == null
		   				 || $('#mUnpaidExpDate').val() == '' ){
		   			 alert('처리 예정일을 입력해주세요.');
		   			 return false;}
		   		 if($('#mUnpaidPart').val() == null
		   				 || $('#mUnpaidPart').val() == '' ){
		   			 alert('처리 구분을 선택해주세요.');
		   			 return false;}
		   		 if($('#mCustomerName').val() == null
		   				 || $('#mCustomerName').val() == '' ){
		   			 alert('고객명을 입력해주세요.');
		   			 return false;}
		   		 $('#modalUnpaidDetailModifyForm').submit()
		   	 	});
			
			
			//미결정보수정화면에 값 가져오기
		   	 $('#modalUnpaidDetailModify').click(function(){
		   		 	$('#modalUnpaidDetailModifyForm').children('input[name=unpaidCode]').val($('#modalUnpaidDetailOverForm').children('#unpaidCode').val());
		   			$('input[name="unpaidExpDate"]').val($('#aUnpaidExpDate').html());
		   			$('select[name="unpaidPart"]').val($('#aUnpaidPart').html()).prop("selected", true);
		   			$('input[name="customerName"]').val($('#aCustomerName').html());
		   			$('input[name="customerTel"]').val($('#aCustomerTel').html());
		   			$('textarea[name="unpaidMemo"]').html($('#aUnpaidMemo').html());
	   	 	});
			
			
			//미결완료처리
	    	 $('#modalUnpaidDetailOver').click(function(){
	    		$('#modalUnpaidDetailOverForm').submit();
	    	 });
			
			//미결 상세보기 modal 열릴 때 값 받아오기, 미결완료버튼 조건처리
			$('.modalUnpaidDetailButton').click(function(){
				var unpaidCode = $(this).attr('code');
				$('#modalUnpaidDetailOverForm').children('#unpaidCode').val(unpaidCode);
				$('#modalUnpaidDetailDeleteForm').children('input[name=unpaidCode]').val(unpaidCode);
				
				//미결 상세보기 1개 select
				var request1 = $.ajax({
					url: "/unpaidSelect", //통신할 url
					method: "POST", //통신할 메서드 타입
					data: { "unpaidCode" : unpaidCode }, //전송할 데이타
					dataType: "json"
				});	 
				
				request1.done(function( data ) {
					$('#aUnpaidExpDate').html(data.unpaidExpDate)
					$('#aUnpaidPart').html(data.unpaidPart)
					$('#aCustomerName').html(data.customerName)
					$('#aCustomerTel').html(data.customerTel)
					$('#aUnpaidMemo').html(data.unpaidMemo)
					$('#aUnpaidRegDate').html(data.unpaidRegDate)
					$('#aUnpaidStatus').html(data.unpaidStatus)
					$('#aUnpaidProDate').html(data.unpaidProDate)
					$('#aUnpaidRegStoreName').html(data.unpaidRegStoreName)
					$('#aUnpaidRegMemberName').html(data.unpaidRegMemberName)
					
					if(data.unpaidStatus != '접수'){
						$('#modalUnpaidDetailOver').hide();
					}else{
						$('#modalUnpaidDetailOver').show();
					}					
				});	 
				
				request1.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
				});	
				
				
				// 고객이름,전화번호로 개통정보조회select > 개통업무 미완으로 처리불가
				/* var request2 = $.ajax({
					url: "/", //통신할 url
					method: "POST", //통신할 메서드 타입
					data: { unpaidCode : unpaidCode }, //전송할 데이타
					dataType: "json"
				});	 
				
				request2.done(function( data ) {
					console.log(data.result)
					$('').html('')
				});	 
				request2.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
				});		 */	

			})
	
	
			//미결정보등록처리
		   	 $('#modalUnpaidInsertSubmit').click(function(){
		   		 //등록유효성검사
		   		 if($('#iUnpaidExpDate').val() == null
		   				 || $('#iUnpaidExpDate').val() == '' ){
		   			 alert('처리 예정일을 입력해주세요.');
		   			 return false;}
		   		 if($('#iUnpaidPart').val() == null
		   				 || $('#iUnpaidPart').val() == '' ){
		   			 alert('처리 구분을 선택해주세요.');
		   			 return false;}
		   		 if($('#iCustomerName').val() == null
		   				 || $('#iCustomerName').val() == '' ){
		   			 alert('고객명을 입력해주세요.');
		   			 return false;}
		   		 
		   		 //등록submit
		   		 $('#modalUnpaidInsertForm').submit()
		   	 	});

	    	 //datetimepicker format
	         $('#datetimepicker1').datetimepicker({
	        	 format: 'YYYY-MM-DD'
	         });
	         $('#datetimepicker2').datetimepicker({
	        	 format: 'YYYY-MM-DD'
	         });
	         
	         //today 버튼 클릭시 date picker 이벤트
	         $('#today').click(function(){
	        	 var currentDate = new Date();
	        	 var yyyy = currentDate.getYear()+1900
	        	 var mm = currentDate.getMonth()+1
	        	 var dd = currentDate.getDate()
	        	 
	        	 if(mm <10){
	        		mm = '0'+mm
	        	 };
	               	 
	        	 if(dd <10){
	        		dd = '0'+dd
	        	 };
	        	 
	        	 var yyyymmdd = yyyy+'-'+mm+'-'+dd;        	 
	        	 $('#datetimepicker1').val(yyyymmdd);
	        	 $('#datetimepicker2').val(yyyymmdd);
	         });
	         
	         //thisWeek 버튼 클릭시 date picker 이벤트
	         $('#thisWeek').click(function(){
	        	 var currentDate = new Date();
	        	 var yyyy = currentDate.getYear()+1900
	        	 var mm = currentDate.getMonth()+1
	        	 var dd1 = currentDate.getDate()-6
	        	 var dd2 = currentDate.getDate()
	        	 
	        	 if(mm <10){
	        		mm = '0'+mm
	        	 };
	               	 
	        	 if(dd1 <10){
	        		dd1 = '0'+dd1
	        	 };
	        	 if(dd2 <10){
	        		dd2 = '0'+dd2
	        	 };
	        	 
	        	 var yyyymmdd1 = yyyy+'-'+mm+'-'+dd1;        	 
	        	 var yyyymmdd2 = yyyy+'-'+mm+'-'+dd2;        	 
	        	 $('#datetimepicker1').val(yyyymmdd1);
	        	 $('#datetimepicker2').val(yyyymmdd2);
	         });
	         
	         //thisMonth 버튼 클릭시 date picker 이벤트
	         $('#thisMonth').click(function(){
	        	 var currentDate = new Date();
	        	 var yyyy = currentDate.getYear()+1900
	        	 var mm1 = currentDate.getMonth()
	        	 var mm2 = currentDate.getMonth()+1
	        	 var dd = currentDate.getDate()
	
	        	 
	        	 if(mm1 <10){
	        		mm1 = '0'+mm1
	        	 };
	        	 if(mm2 <10){
	        		mm2 = '0'+mm2
	        	 };
	               	 
	        	 if(dd <10){
	        		dd = '0'+dd
	        	 };
	        	 
	        	 var yyyymm1dd = yyyy+'-'+mm1+'-'+dd;        	 
	        	 var yyyymm2dd = yyyy+'-'+mm2+'-'+dd;        	 
	        	 $('#datetimepicker1').val(yyyymm1dd);
	        	 $('#datetimepicker2').val(yyyymm2dd);
	         });
	         
	         //비고 tooltip
				  $('[data-toggle="tooltip"]').tooltip()
	});
	 </script>
</th:block>

</html>