<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment"></head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div id="wrapper">
		<nav th:replace="fragments/header :: headerFragment"></nav>
	
		<aside th:replace="fragments/leftmenu :: leftmenuFragment"></aside>	
		
		<div>
			<th:block layout:fragment="customContents">
			
			</th:block>
		</div>
		<div th:replace="fragments/footer :: footerFragment"></div>
		<div id="sidebar-overlay" class></div>
	</div>
	
		<!-- jQuery -->
		<script src="plugins/jquery/jquery.min.js"></script>
		<!-- jQuery UI 1.11.4 -->
		<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		
		<script>
		  $.widget.bridge('uibutton', $.ui.button)
		</script>
		
		<!-- 공통 Script -->
		<script type="text/javascript">
			$(document).ready(
	  			$(function(){
				<!-- 모바일 메뉴닫기 -->
					$( "#sidebar-overlay" ).on('click', function(){
						$(".hamburger").trigger('click');
					});
	  			<!-- 모바일 메뉴닫기 끝 -->
	  			<!-- 프로필 이미지 받아오기 -->
					$('#profileButton').click(function(){
						
						var memberId = $('#loginId').html();
						
						if(memberId != null && memberId !=''){
							
							var request = $.ajax({
								url: "/memberSelect", //통신할 url
								method: "POST", //통신할 메서드 타입
								data: { "memberId" : memberId }, //전송할 데이타
								dataType: "json"
							});	 
						
							request.done(function( data ) {
								if(data.file != null && data.file !=''){
									var file = data.file
									var html = '<img src="/fileupload/';
									html += file
									html += '" width="100px" height="100px" class="img-circle elevation-2">'
									$('#profile').html(html)
								}
							});	 
						
							request.fail(function( jqXHR, textStatus ) {
							  alert( "Request failed: " + textStatus );
							});	
						}
					});	
	  			<!-- 프로필 이미지 받아오기 끝 -->
	  			<!-- 매장선택값 세션에 저장하기 -->
	  				$('#storeSelect').change(function(){
	  					var storeSelect = $('#storeSelect').val();
	  					console.log(storeSelect);
	  					sessionStorage.setItem('storeSelect',storeSelect);
	  				});
	  			<!-- 매장선택값 세션에 저장하기 끝 -->
	  			<!-- 매장선택값 세션에서 불러오기 -->
	  				$('#storeSelect').val(sessionStorage.getItem('storeSelect')).prop('selected',true);
	  			<!-- 매장선택값 세션에서 불러오기 끝 -->

	  			})
			)
		</script>

		<!-- Bootstrap 4 -->
		<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- ChartJS -->
		<script src="plugins/chart.js/Chart.min.js"></script>
		<!-- Sparkline -->
		<script src="plugins/sparklines/sparkline.js"></script>
		<!-- JQVMap -->
		<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
		<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
		<!-- jQuery Knob Chart -->
		<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
		<!-- daterangepicker -->
		<script src="plugins/moment/moment.min.js"></script>
		<script src="plugins/daterangepicker/daterangepicker.js"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
		<!-- Summernote -->
		<script src="plugins/summernote/summernote-bs4.min.js"></script>
		<!-- overlayScrollbars -->
		<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
		<!-- AdminLTE App -->
		<script src="dist/js/adminlte.js"></script>
		
		<th:block layout:fragment="customFooterScript"></th:block>
		
</body>


</html>