<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EPM</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 컨텐트 랩퍼 시작 -->	
	<div class="content-wrapper">
		<!-- 컨텐츠 헤더 영역 -->
		<div class="content-header">
      		<div class="container-fluid">
      			<div class="row">
      				<div class="col-12">
		      			<div>휴대폰 판매 소규모 매장 운영을 위한 상품의 매입, 재고관리와 매장의 매출과 지출 및 직원관리 등의 기능을 제공하여</div>
						<div>매장의 전반적인 관리를 문서화하지 않고 데이터화 시켜 매장을 쉽게 관리할 수 있도록 합니다.</div>
					</div>
				</div>
      		</div>
      	</div>
      	<!-- 컨텐츠 헤더 영역 끝 -->
      	
 		<!-- 컨텐츠 영역 시작 -->
		<section class="content">
			<div class="container-fluid">
			
				<div class="row">
				
					<div class="col-12" style="margin: 0 auto;">
			            <div class="card card-secondary">
			              <div class="card-header">
				                   <div class="row">
										<h3 class="card-title">송은채 | 팀장</h3>
									</div>
				              </div>
				              <!-- /.card-header -->
				              <div class="card-body">
				              	<ul>
				                	<li>개발 문서 업데이트, GitHub 관리, 배포, 의견수렴 및 진행 방향 결정</li>
							       	<li>세션 Data 등 공통 사용 부분</li>
							       	<li>로그인 관리 : 로그인, 로그아웃, 로그인/로그아웃 기록 등록</li>
							       	<li>회원 관리 : 회원 등록, 수정, 삭제, 목록, 검색</li>
							       	<li>미결 업무 관리 : 미결업무 등록, 수정, 삭제, 목록, 검색</li>
							       	<li>미결 이력 관리 : 미결업무 등록, 수정, 삭제에 따른 미결 이력 등록, 삭제, 목록, 검색</li>	
							       	<li>게시판 관리 : 게시물 등록, 파일 업로드, 수정, 삭제, 목록, 검색 및 댓글 등록, 수정, 삭제</li>
							     </ul>
							     <hr>
							     	<small>블로그 주소 : <a href="https://n-che-sw.tistory.com/">https://n-che-sw.tistory.com/</a></small>
						      </div>	
			              </div>
		             	 <!-- /.card-body -->
			            </div>
			            <!-- /.card -->
			            
					<div class="col-12" style="margin: 0 auto;">
			            <div class="card card-secondary">
			              <div class="card-header">
				                   <div class="row">
										<h3 class="card-title">김수지 | 팀원</h3>
									</div>
				              </div>
				              <!-- /.card-header -->
				              <div class="card-body">
				              	<ul>
				                	<li>배포, 의견제시 및 조율</li>
							       	<li>스케줄 캘린더 : 매장 스케줄을 메모하기 위한 Calendar 사용</li>
							       	<li>고객 관리 : 고객 등록, 수정, 삭제, 조회, 검색 및 대표자만 고객업무처리 이력 결과 조회</li>
							       	<li>결제 장부 관리 :  디바이스, 홈상품 결제 장부 등록,수정,삭제,조회,검색 및 대표자만 장부업무처리 이력 결과 조회</li>
							       	<li>미결 업무 관리 : 미결업무 등록, 수정, 삭제, 목록, 검색</li>
							       	<li>매장 내 직원 관리 : 모든 가입자 직원 권한으로 등록, 수정, 삭제, 조회, 검색</li>	
							       	<li>대리점 매장 관리 : 매장 등록, 수정, 삭제, 조회, 검색</li>
						       	</ul>
						       	<hr>
						       		<div>
							     	<small>블로그 주소 : <a href="https://blog.naver.com/suzy6609">https://blog.naver.com/suzy6609</a> </small>
				              </div>
			             	 <!-- /.card-body -->
			            </div>
			            <!-- /.card -->
          			</div>
          			</div>
          			
					<div class="col-12" style="margin: 0 auto;">
			            <div class="card card-secondary">
			              <div class="card-header">
				                   <div class="row">
										<h3 class="card-title">김정현 | 팀원</h3>
									</div>
				              </div>
				              <!-- /.card-header -->
				              <div class="card-body">
				              	<ul>
				                	<li>의견제시 및 조율</li>
							       	<li>거래처 관리 : 거래처 등록, 수정, 삭제, 검색</li>
							       	<li>유심 관리 : 유심 등록, 수정, 삭제, 검색</li>
							       	<li>재고리스트 :  매장에서 보유 중인 단말기, 유심, 중고의 재고현황 조회, 판매이력 확인 및 검색,  재고이력 확인 및 검색</li>
							       	<li>SMS 관련 기능 : SMS 발송, 취소, 발송 이력 확인</li>
						       	</ul>	
				              </div>
			             	 <!-- /.card-body -->
			            </div>
			            <!-- /.card -->
          			</div>
          			
					<div class="col-12" style="margin: 0 auto;">
			            <div class="card card-secondary">
			              <div class="card-header">
				                   <div class="row">
										<h3 class="card-title">최영민 | 팀원</h3>
									</div>
				              </div>
				              <!-- /.card-header -->
				              <div class="card-body">
				              	<ul>
				                	<li>의견제시 및 조율</li>
							       	<li>단말기 관리 : 단말기 등록, 수정, 삭제, 검색 및 단말기 정보 DB 관리</li>
							       	<li>중고 관리 : 중고 단말기 등록, 수정, 삭제, 검색 가능</li>
							       	<li>홈상품 개통 :  홈 상품 개통, 수정, 삭제, 검색 및 홈 상품 DB관리 및 인터넷 DB, TV DB, IOT DB 관리</li>
							       	<li>홈상품 이력 : 홈상 품 개통, 수정, 삭제 시 홈 상품 이력 자동등록</li>
						       	</ul>	
				              </div>
			             	 <!-- /.card-body -->
			            	</div>
			            	<!-- /.card -->
			            </div>
			            
				</div>
			</div>
		</section>
		<!-- 컨텐츠 영역 끝 -->
	</div>
	<!-- 컨텐트 랩퍼 끝 -->
</th:block>
<th:block layout:fragment="customFooterScript">
</th:block>
</html>